<header class="header" xmlns="">
  <div class="content-header clearfix">
    <div class="logo-container">
      <h1><a href="/" class="logo-main" title="Báo Người Lao Động Online"></a></h1>

    </div>
    <div class="topic">
      <ul class="list-topic clearfix">
        <li>
          <a target="_blank" rel="nofollow" href="https://job.nld.com.vn" title="Tìm việc - Tuyển người">
            <img src="https://static.mediacdn.vn/nld/Images/icontvtn.png" alt="Tìm việc - Tuyển người" width="21"
              style="margin: 1px auto 7px;">
            Tìm việc - Tuyển người
          </a>
        </li>
        <li>
          <a routerLink="/ly-tuong-song" title="Lý tưởng sống">
            <i class="item-icon-6"></i>
            Lý tưởng sống
          </a>
        </li>

        <li>
          <a href="https://nld.com.vn#Multimedia" title="MultiMedia">
            <i class="item-icon-7"></i>
            Multimedia
          </a>
        </li>
        <li>
          <a routerLink="/noi-thang" title="Nói thẳng">
            <i class="item-icon-1"></i>
            Nói thẳng
          </a>

        </li>
        <li>
          <a href="/trich-dan-nong.htm" title="Trích dẫn nóng">
            <i class="item-icon-2"></i>
            Trích dẫn nóng
          </a>
        </li>
        <li>
          <a routerLink="/tin-doc-quyen" title="Tin độc quyền">
            <i class="item-icon-3"></i>
            Tin độc quyền
          </a>

        </li>
        <li>
          <a routerLink="/thi-truong" title="Thị trường">
            <i class="item-icon-4"></i>
            Thị trường
          </a>

        </li>

      </ul>
      <div class="login-form">
        <div class="area__authenticate">
          <a routerLink="/dang-nhap" class="authen-title">Đăng ký / Đăng nhập</a>
        </div>
      </div>

    </div>
  </div>
  <div class="menu-container">
    <ul class="menu-top clearfix">
      <li class="active">
        <a routerLink="" title="Trang chủ" class="menu-home-href"><span class="menu-home"></span></a>
      </li>
      <li class="">
        <a routerLink="/trong-nuoc" title="Trong nước">Trong nước</a>
      </li>
      <li class="">
        <a routerLink="/thoi-su-quoc-te" title="Quốc tế">Quốc tế</a>
      </li>
      <li class="">
        <a routerLink="/cong-doan" title="Công đoàn">Công đoàn</a>
      </li>
      <li class="">
        <a routerLink="/ban-doc" title="Bạn đọc">Bạn đọc</a>
      </li>
      <li class="">
        <a routerLink="/kinh-te.htm" title="Kinh tế">Kinh tế</a>
      </li>
      <li class="">
        <a routerLink="/suc-khoe" title="Sức khỏe">Sức khỏe</a>

      </li>
      <li class="">
        <a routerLink="/giao-duc" title="Giáo dục">Giáo dục</a>
      </li>
      <li class="">
        <a routerLink="/phap-luat" title="Pháp luật">Pháp luật</a>
      </li>
      <li class="">
        <a routerLink="/nghe-thuat" title="Văn nghệ">Văn nghệ</a>
      </li>
      <li class="">
        <a routerLink="/giai-tri" title="Giải trí">Giải trí</a>
      </li>
      <li class="">
        <a routerLink="/the-thao" title="Thể thao">Thể thao</a>
      </li>
      <li class="">
        <a routerLink="/cong-nghe" title="Công nghệ">Công nghệ</a>
      </li>
      <li class="">
        <a routerLink="/du-lich-xanh" title="Du lịch xanh">Du lịch xanh</a>
      </li>
      <li>
        <a routerLink="/phu-nu" title="Phụ nữ">Phụ nữ</a>
      </li>
      <li>
        <a routerLink="/dia-oc" title="Địa ốc">Địa ốc</a>
      </li>
      <li class="search">
        <a class="fr" title="Tìm kiếm" (click)="openSearch()"></a>
        <input type="text" id="txtKeyWord" [(ngModel)]="enteredSearchValue" class="search-input fr"
          (keyup.enter)="search()" [class.search-input-active]="showSearch" placeholder="Nhập từ khóa tìm kiếm">
      </li>
    </ul>
  </div>
</header>
