<header class="header">
  <div class="bg_top_header">
    <div class="top-header">
      <p class="hotline">
        HOTLINE: <span>0903.343.439</span>
        - HOTLINE Phát hành: <span>0819.123.127</span>
        <span>- <a href="/dat-bao.htm">Đặt mua báo</a></span>
      </p>
      <div class="social">

        <a href="" title="Gửi tin bài" class="send-news" rel="nofollow" target="_blank">Gửi tin bài</a>


        <a href="" title="Youtube" target="_blank" rel="nofollow"><i class="icon-google"></i></a>
        <a href="" rel="nofollow" target="_blank" title="Facebook"><i class="icon-facebook"></i></a>
        <div style="height: 20px; overflow: hidden; display: inline-block; margin-right: -10px; margin-left: 10px; margin-top: -4px; width: 88px; float: left;">
          <div class="zalo-follow-only-button" data-oaid="4417973660626754335" style="overflow: hidden; display: inline-block;"><iframe frameborder="0" allowfullscreen="" scrolling="no" width="102px" height="35px" src="https://button-follow.zalo.me?oaid=4417973660626754335&amp;style=blue&amp;customize=false&amp;callback=null&amp;cbfollowed=null&amp;domain=https%3A%2F%2Fnld.com.vn%2F&amp;id=7fbc55d3-eec4-49e1-906d-ef7d47145d98"></iframe></div>
        </div>
        <a href="/rss.htm" title="RSS" style="position: relative; top: -2px;">
          <img width="35" height="15" style="width: 35px; height: 15px" src="https://static.mediacdn.vn/nld/web_images/rss.jpg" border="0"></a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="content-header clearfix">
    <div class="logo-container">
      <h1><a href="/" class="logo-main" title="Báo Người Lao Động Online"></a></h1>

    </div>
    <div class="topic">
      <ul class="list-topic clearfix">
        <li>
          <a target="_blank" rel="nofollow" href="https://job.nld.com.vn" title="Tìm việc - Tuyển người">
            <img src="https://static.mediacdn.vn/nld/Images/icontvtn.png" alt="Tìm việc - Tuyển người" width="21" style="margin: 1px auto 7px;">
            Tìm việc - Tuyển người
          </a>
        </li>
        <li>
          <a href="/ly-tuong-song.htm" title="Lý tưởng sống">
            <i class="item-icon-6"></i>
            Lý tưởng sống
          </a>
        </li>

        <li>
          <a href="https://nld.com.vn#Multimedia" title="MultiMedia">
            <i class="item-icon-7"></i>
            Multimedia
          </a>
        </li>
        <li>
          <a href="/noi-thang.htm" title="Nói thẳng">
            <i class="item-icon-1"></i>
            Nói thẳng
          </a>

        </li>
        <li>
          <a href="/trich-dan-nong.htm" title="Trích dẫn nóng">
            <i class="item-icon-2"></i>
            Trích dẫn nóng
          </a>
        </li>
        <li>
          <a href="/tin-doc-quyen.htm" title="Tin độc quyền">
            <i class="item-icon-3"></i>
            Tin độc quyền
          </a>

        </li>
        <li>
          <a href="https://thitruong.nld.com.vn/" title="Thị trường" target="_blank" rel="nofollow">
            <i class="item-icon-4"></i>
            Thị trường
          </a>

        </li>
      </ul>


    </div>
  </div>
  <div class="menu-container">
    <ul class="menu-top clearfix">
      <li class="active">
        <a routerLink="" title="Trang chủ" class="menu-home-href"><span class="menu-home"></span></a>
      </li>
      <li class="">
        <a routerLink="/trong-nuoc" title="Trong nước">Trong nước</a>
      </li>
      <li class="">
        <a routerLink="/thoi-su-quoc-te" title="Quốc tế">Quốc tế</a>
      </li>
      <li class="">
        <a routerLink="/cong-doan" title="Công đoàn">Công đoàn</a>
      </li>
      <li class="">
        <a href="/ban-doc.htm" title="Bạn đọc">Bạn đọc</a>
      </li>
      <li class="">
        <a href="/kinh-te.htm" title="Kinh tế">Kinh tế</a>
      </li>
      <li class="">
        <a href="/suc-khoe.htm" title="Sức khỏe">Sức khỏe</a>

      </li>
      <li class="">
        <a href="/giao-duc-khoa-hoc.htm" title="Giáo dục">Giáo dục</a>
      </li>
      <li class="">
        <a href="/phap-luat.htm" title="Pháp luật">Pháp luật</a>
      </li>
      <li class="">
        <a href="/van-nghe.htm" title="Văn nghệ">Văn nghệ</a>
      </li>
      <li class="">
        <a href="/giai-tri.htm" title="Giải trí">Giải trí</a>
      </li>
      <li class="">
        <a href="/the-thao.htm" title="Thể thao">Thể thao</a>
      </li>
      <li class="">
        <a href="/cong-nghe.htm" title="Công nghệ">Công nghệ</a>
      </li>
      <li class="">
        <a href="/du-lich-xanh.htm" title="Du lịch xanh">Du lịch xanh</a>
      </li>
      <li>
        <a href="https://phunu.nld.com.vn" target="_blank" rel="nofollow" title="Phụ nữ">Phụ nữ</a>
      </li>
      <li>
        <a href="https://diaoc.nld.com.vn" target="_blank" rel="nofollow" title="Địa ốc">Địa ốc</a>
      </li>

      <li class="search">
        <div class="search-box">
          <button class="btn-search" (click)="search()"></button>
          <input [(ngModel)]="enteredSearchValue" type="text" class="input-search" placeholder="Type to Search...">
        </div>
      </li>
    </ul>
  </div>
</header>
<router-outlet></router-outlet>
