<router-outlet></router-outlet>
<section class="footer">

  <div style="margin-bottom: 15px;">
  </div>


  <div class="menu-container">
    <ul class="menu-top clearfix">
      <li>
        <a routerLink="" title="Trang chủ" class="menu-home-href"><span class="menu-home"></span></a>
      </li>
      <li>
        <a routerLink="/trong-nuoc" title="Trong nước">Trong nước</a>
      </li>
      <li>
        <a href="/thoi-su-quoc-te.htm" title="Quốc tế">Quốc tế</a>
      </li>
      <li>
        <a href="/cong-doan.htm" title="Công đoàn">Công đoàn</a>
      </li>
      <li>
        <a href="/ban-doc.htm" title="Bạn đọc">Bạn đọc</a>
      </li>
      <li>
        <a href="/kinh-te.htm" title="Kinh tế">Kinh tế</a>
      </li>
      <li>
        <a href="/suc-khoe.htm" title="Sức khỏe">Sức khỏe</a>

      </li>
      <li>
        <a href="/giao-duc-khoa-hoc.htm" title="Giáo dục">Giáo dục</a>
      </li>
      <li>
        <a href="/phap-luat.htm" title="Pháp luật">Pháp luật</a>
      </li>
      <li>
        <a href="/van-nghe.htm" title="Văn nghệ">Văn nghệ</a>
      </li>
      <li>
        <a href="/giai-tri.htm" title="Giải trí">Giải trí</a>
      </li>
      <li>
        <a href="/the-thao.htm" title="Thể thao">Thể thao</a>
      </li>
      <li>
        <a href="/cong-nghe.htm" title="Công nghệ">Công nghệ</a>
      </li>

      <li>
        <a href="/du-lich-xanh.htm" title="Du lịch xanh">Du lịch xanh</a>
      </li>
      <li>
        <a href="https://phunu.nld.com.vn" target="_blank" rel="nofollow" title="Phụ nữ">Phụ nữ</a>
      </li>
      <li>
        <a href="https://diaoc.nld.com.vn" target="_blank" rel="nofollow" title="Địa ốc">Địa ốc</a>
      </li>
    </ul>
  </div>

  <div class="footer-container">
    <div class="footer-content clearfix">
      <div class="box-footer clearfix">
        <p class="title">Báo người lao động điện tử</p>
        <p class="sapo">CƠ QUAN CHỦ QUẢN: THÀNH ỦY THÀNH PHỐ HỒ CHÍ MINH</p>
        <p class="certification">
          © Giấy phép số 115/GP- BTTTT cấp ngày 09 tháng 02 năm 2021 của Bộ Thông tin và Truyền thông
        </p>
        <div class="manager">
          <p>Tổng Biên tập: TÔ ĐÌNH TUÂN</p>
          <p>Phó Tổng Biên tập: DƯƠNG QUANG, BÙI THANH LIÊM</p>
          <p>Tổng Thư ký Tòa soạn: LÊ CƯỜNG</p>
        </div>
        <div class="clearfix"></div>
        <style>
          .div-download-app {
            display: flex;
            margin-top: 10px;
            font-family: 'Roboto-Bold';
            align-items: center;
            color: #222;
          }

          .btn-download-app-ios, .btn-download-app-android {
            display: flex;
            align-items: center;
            color: #454545;
            margin-left: 16px;
            color: #222;
          }

          .btn-download-app-ios img {
            width: 125px;
          }

          .btn-download-app-android img {
            width: 150px;
          }

          .btn-download-app-ios {
            margin-left: 28px;
          }
        </style>
        <div class="div-download-app">
          <p>Tải ứng dụng đọc báo Người Lao Động</p>
          <a class="btn-download-app-ios" href="https://apps.apple.com/vn/app/ng%C6%B0%E1%BB%9Di-lao-%C4%91%E1%BB%99ng/id862310588?l=vi" target="_blank" rel="nofollow">
            <img src="https://static.mediacdn.vn/thumb_w/150/nld/Images/app-store-v1.png" alt="Tải ứng dụng">
          </a>
          <a class="btn-download-app-android" href="https://play.google.com/store/apps/details?id=vcc.mobilenewsreader.nguoilaodong" target="_blank" rel="nofollow">
            <img src="https://static.mediacdn.vn/thumb_w/180/nld/Images/android_google_play-v1.png" alt="Tải ứng dụng">
          </a>
        </div>
      </div>
      <div class="box-footer box-address">
        <p class="title">Trụ sở chính</p>
        <div class="address">
          <p>
            127 Võ Văn Tần, Phường Võ Thị Sáu, Quận 3 - TPHCM
          </p>
          <p>
            Điện thoại: 028-3930.6262 / 028-3930.5376
          </p>
          <p>
            Fax: 028-3930.4707
          </p>
        </div>
      </div>
      <div class="box-footer box-contact-ads">
        <p class="title">Liên hệ quảng cáo</p>
        <a class="designer" href="https://vccorp.vn/" rel="nofollow" target="_blank" title="Công ty cổ phần truyền thông VCCORP"></a>
        <div class="address">
          <p>
            doanhnghiep@admicro.vn
          </p>
          <p>
            0942.86.11.33
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="notification">
    <p class="notification-content">
      Bản quyền thuộc về Báo Người Lao Động. Các website khác đã được chúng tôi đồng ý cho khai thác thông tin, khi đăng lại phải ghi rõ nguồn: Theo Báo Người Lao Động (www.nld.com.vn).
    </p>
  </div>
</section>
