<div id="content__login">
  <div class="content__login-cen">
  <h3 class="title__login">Đăng nhập</h3>
  <a href="" class="login__withgg-text">
    <span class="text__loginwith">Đăng nhập bằng Google</span>
  </a>
  <a href="" class="login__withfb-text">
    <span class="text__loginwith">Đăng nhập bằng Facebook</span>
  </a>
  <a href="" class="login__withzl-text">
    <span class="text__loginwith">Đăng nhập bằng Zalo</span>
  </a>
  <p class="login__or"></p>
  <form action="" id="login__form">
    <span class="lable__login">Nhập địa chỉ Email / Số điện thoại</span>
    <input type="text" class="input__login" placeholder="Nhập Email / Số  điện thoại">
    <input type="text" class="input__login" placeholder="Mật khẩu">
    <button class="btn__login">Đăng ký</button>
    <a href="/dang-ky" class="register-link">Bạn chưa có tài khoản?</a>
    <a href="" class="register-link">Quên mật khẩu</a>
  </form>
  </div>
</div>
