<div id="content__login">
  <div class="content__login-cen">
    <h3 class="title__login">Đăng nhập</h3>
    <a  class="btn__login btn__login--logging" #loginGG>
      <i class="fa-brands fa-google login__icon"></i>
      <span class="text__loginwith"></span><p class="text__login" >Đăng nhập bằng Google</p>
    </a>
    <a  class="btn__login btn__login--fb">
      <i class="fa-brands fa-facebook login__icon"></i>
      <span class="text__loginwith"></span><p class="text__login">Đăng nhập bằng Facebook</p>
    </a>
    <p class="login__or">
      <span class="login__or--text">Hoặc</span>
    </p>
    <form action="" id="login__form">
      <span class="lable__login">Nhập địa chỉ Email / Số điện thoại</span>
      <input type="text" class="input__login" placeholder="Nhập Email / Số  điện thoại">
      <input type="text" class="input__login" placeholder="Mật khẩu">
      <button class="btn__login--submit">Đăng nhập</button>
      <a href="/dang-ky" class="register__link--left">Bạn chưa có tài khoản?</a>
      <a href="" class="register__link--right">Quên mật khẩu</a>
    </form>
  </div>
</div>
