<section class="body">
  <div class="body-content body-category">
    <div class="cate-left">
      <div class="sub-cate">
        <h1 class="title-cate">Thị trường</h1>
      </div>
      <div class="clearfix"></div>
      <div class="box-cate-focus">
        <ng-container *ngFor="let thoiSuItem of thiTruongResult.slice(0,1)">
          <div class="news-info">
            <h3>
              <a class="title" href="{{thoiSuItem.link}}" title="{{thoiSuItem.title}}">{{thoiSuItem.title}}</a>
            </h3>
            <p class="sapo">{{thoiSuItem.content.slice(thoiSuItem.content.search('">') + 2)}}</p>
          </div>
          <a class="img435x273" href="{{thoiSuItem.link}}">
            <img src="{{thoiSuItem.thumbnail}}"
                 alt="{{thoiSuItem.title}}"
                 title="{{thoiSuItem.title}}" class="img435x273">
          </a>
        </ng-container>
        <div class="clearfix"></div>
        <span class="separator"></span>
      </div>
      <div class="list-news-container">
        <div class="cate-list-news">
          <ul class="list-news clearfix" *ngFor="let thoiSuItem of thiTruongResult
                       |paginate: {
                                 itemsPerPage:5,
                                 currentPage: page,
                                 totalItems: totalLength
                                 }
                       " >
            <li class="news-item ">

              <a href=""

                 class="img220x139">
                <img src="{{thoiSuItem.thumbnail}}"
                     class="img220x139">
              </a>

              <div class="news-info">
                <h3><a href=""
                       title="{{thoiSuItem.title}}"
                       class="title">{{thoiSuItem.title}}</a></h3>
                <div class="clearfix"></div>


                <ul class="news-relate">

                  <li>
                    <a href=""
                       title="Thu phí không dừng cao tốc Liên Khương - Prenn vào ngày 1-8 tới"
                       class="title">{{thoiSuItem.description.slice(thoiSuItem.description.search('">')+2)}}</a>
                  </li>



                </ul>

              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
          <pagination-controls class="pagination" (pageChange)="page =$event" previousLabel="Trước" nextLabel="Sau" ></pagination-controls>
        </div>
        <div class="clearfix"></div>

      </div>
      <div class="list-box-container">
        <div class="box-news">
          <h2>
            <a class="title-cate" href="">Tin nổi bật</a>
            <span class="bg-right"></span>
          </h2>
          <div class="clearfix"></div>
          <ul class="list-news">
            <li>


              <a href="" class="img216x133">
                <img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/7/26/photo-13-16588046760021458294633.jpg"
                     class="img216x133">
              </a>


              <h3><a href="" class="title">Lãnh đạo Đảng, Nhà nước tưởng nhớ Chủ tịch Hồ Chí Minh và
                các Anh
                hùng liệt sĩ</a>
              </h3>
            </li>
            <li>


              <a href="" class="img216x133">
                <img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/7/26/photo-13-16588046760021458294633.jpg"
                     class="img216x133">
              </a>


              <h3><a href="" class="title">Lãnh đạo Đảng, Nhà nước tưởng nhớ Chủ tịch Hồ Chí Minh và
                các Anh
                hùng liệt sĩ</a>
              </h3>
            </li>
            <li>


              <a href="" class="img216x133">
                <img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/7/26/photo-13-16588046760021458294633.jpg"
                     class="img216x133">
              </a>


              <h3><a href="" class="title">Lãnh đạo Đảng, Nhà nước tưởng nhớ Chủ tịch Hồ Chí Minh và
                các Anh
                hùng liệt sĩ</a>
              </h3>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="clearfix"></div>

</section>

