<section class="body">
  <div class="body-content body-category">
    <div class="cate-left">
      <div class="sub-cate">
        <h1 class="title-cate">Giải Trí</h1>
      </div>
      <div class="clearfix"></div>
      <div class="box-cate-focus">
        <ng-container *ngFor="let giaitriItems of giaitriResult.slice(0,1)">
          <div class="news-info">
            <h3>
              <a class="title" routerLink="/detail/{{replaceAll(giaitriItems.link,'/','?')}}" title="{{giaitriItems.title}}">{{giaitriItems.title}}</a>
            </h3>
            <p class="sapo">{{giaitriItems.content.slice(giaitriItems.content.search('">') + 2)}}</p>
          </div>
          <a class="img435x273" routerLink="/detail/{{replaceAll(giaitriItems.link,'/','?')}}">
            <img src="{{giaitriItems.thumbnail}}" alt="{{giaitriItems.title}}" title="{{giaitriItems.title}}"
                 class="img435x273">
          </a>
        </ng-container>
        <div class="clearfix"></div>
        <span class="separator"></span>
      </div>
      <div class="list-news-container">
        <div class="cate-list-news">
          <ul class="list-news clearfix" *ngFor="let giaitriItems of giaitriResult
           |paginate: {
                     itemsPerPage:5,
                     currentPage: page,
                     totalItems: totalLength
                     }
            ">
            <li class="news-item ">

              <a routerLink="/detail/{{replaceAll(giaitriItems.link,'/','?')}}" class="img220x139">
                <img src="{{giaitriItems.thumbnail}}" class="img220x139">
              </a>

              <div class="news-info">
                <h3><a routerLink="/detail/{{replaceAll(giaitriItems.link,'/','?')}}" title="{{giaitriItems.title}}" class="title">{{giaitriItems.title}}</a></h3>


                <div class="clearfix"></div>


                <ul class="news-relate">

                  <li>
                    <a routerLink="/detail/{{replaceAll(giaitriItems.link,'/','?')}}" title="Thu phí không dừng cao tốc Liên Khương - Prenn vào ngày 1-8 tới"
                       class="title">{{giaitriItems.description.slice(giaitriItems.description.search('">')+2)}}</a>
                  </li>



                </ul>

              </div>
              <div class="clearfix"></div>
            </li>
          </ul>

          <pagination-controls  class="pagination" (pageChange)="page =$event" previousLabel="" nextLabel=""></pagination-controls>

        </div>
        <div class="clearfix"></div>

      </div>
      <div class="list-box-container">
        <div class="box-news">
          <h2>
            <a class="title-cate" routerLink="/trong-nuoc">Tin nổi bật</a>
            <span class="bg-right"></span>
          </h2>
          <div class="clearfix"></div>

          <ul class="list-news">

            <li *ngFor="let giaitriItems of giaitriResult.slice(2,5) ;let i = index">

              <a routerLink="/detail/{{replaceAll(giaitriItems.link,'/','?')}}" class="img216x133">
                <img src="{{giaitriItems.thumbnail}}" class="img216x133">
              </a>


              <h3><a routerLink="/detail/{{replaceAll(giaitriItems.link,'/','?')}}" class="title">{{giaitriItems.title}}</a>

              </h3>

            </li>

          </ul>
        </div>
      </div>
    </div>
    <app-right-catelory></app-right-catelory>
  </div>
  <div class="clearfix"></div>

</section>
