/** PC with min screen **/
/* Tablet */
/* Mobile */
/* Mobile and Tablet */
.cf {
  height: 44px !important;
  display: none;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
  }
}
.clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}
#header_menu {
  width: calc(100vw);
  z-index: 9999;
}
.header_w {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transition: transform 300ms ease;
  -webkit-transition: transform 300ms ease;
  -moz-transition: transform 300ms ease;
  -o-transition: transform 300ms ease;
}
.header {
  background: #005bb2;
  .main-menu {
    display: block;
    float: left;
    padding: 17px;
    .line-1 {
      width: 16px;
      height: 2px;
      display: block;
      background: #fff;
      border-radius: 2px;
    }
    .line-2 {
      width: 16px;
      height: 2px;
      display: block;
      margin-top: 2px;
      background: #fff;
      border-radius: 2px;
    }
    .line-3 {
      width: 16px;
      height: 2px;
      display: block;
      margin-top: 2px;
      background: #fff;
      border-radius: 2px;
    }
  }
  ul.list-menu {
    display: none;
    padding-top: 20px;
    padding-bottom: 16px;
    li {
      float: left;
      width: calc(50% - 13px);
      border: solid 1px #dfe3e6;
      background-color: #f5f7f7;
      border-radius: 3px;
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 10px;
      a {
        color: #333;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        padding: 10px 0;
        display: block;
      }
    }
  }
  .logo {
    display: block;
    width: 140px;
    height: 23px;
    background-image: url(https://static.mediacdn.vn/nld/web_images/logoMobNld.png);
    background-size: contain;
    float: left;
    background-repeat: no-repeat;
    margin-top: 11px;
  }
  .search {
    float: right;
    margin-left: 20px;
    position: relative;
    margin-top: 13px;
    margin-right: 17px;
    .btn-search {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAAEEfUpiAAACXUlEQVRYw72WPWtVQRCG9+ZDUCJITLAVFBSLG8UmmICIPyEg+gMEIaBdUARtbESCYHlEsLWwsBMJEUVtLIyolSQISZEQg2C0iOHmsZnVuevsnt2bGwcG9uyZeefd3ZnZdYAD7gK7AOc/nFfn/+gJrX8G3y0L/MRkOOG1Aqo2c9ErwGuNuR5EdsDTMOgbQXnOX6ks3iGHtolF4GFo6IA7wINwfdoAA35OG/w0DEghjADHwmUCvKJdXGqZWHtvGa3ridtBiE01fhID0mj3E9HOi82gBbAGbCScvc5ae+7k+MgAAJiPLeGZGJwzHJthhqWqZCg4r3ngiM88C8hlUP8nhZVcLwXwekMqbU/4Y0yq6xfwCZioA/ODXmBLUfsWUN2bk0gA+wKDPskRgP4YwMuMPPCsTACAmzUAZ2NBPEBfZiaOxABcJsCJGMClGudmaglLGSw25ZhNgB4B+BFx/qyOuRHLg2FltAo8BhawpZGqximgpYynxSEKkls8UZCSCrRAivtBY7sAHmSl7gIdBV6QJwvABUmHYkL6oxd4FIB/BW4BJ9WTpQc4BFyWpqXlg6RUMYHRoKFdLVzJaXkGeJkqITCmHJeBgQ77vANm9IWRS+CtcmpuI7iTrr0mWK3UVaAJbKnzdl1QnUfjOQQ+KoeDXSDwReEN5RCYUA7vOy0n4+EwXVIFF5XjBnCmMPCBoO3PWa2/rg8MSx1rmZESs3blKHBPPRssqeqIxDL5mvG4iUkLeFdjEyWSu8W7gcPAKeA4sD/S46tSIq5LpdcxkZ0gkEtkZacJ1BGp/heBpP4GRu7+1XGGpBsAAAAASUVORK5CYII=) no-repeat 1px 1px;
      width: 19px;
      height: 19px;
      background-size: 18px;
      display: block;
      margin-top: 0;
      float: right;
    }
    .input-search {
      float: right;
      width: 0;
      opacity: 0;
      visibility: hidden;
      transition: all .3s;
      height: 19px;
      outline: none;
      position: absolute;
      right: 25px;
      border-radius: 10px;
    }
    .input-search-active {
      opacity: 1;
      width: 120px;
      visibility: visible;
      border: solid 1px #cdcdcd;
      font-size: 10px;
      height: 19px;
      padding-left: 5px;
      position: absolute;
      right: 25px;
      top: -2px;
    }
  }
  .social {
    float: right;
    border-top: none;
    width: auto;
    margin-top: 15px;
    padding: 0;
    .social-facebook {
      float: left;
      width: 16px;
      height: 16px;
      background-image: url(https://static.mediacdn.vn/nld/web_images/mob/Facebook.svg);
      border-radius: 50%;
      display: block;
      margin-top: 0;
    }
    .social-youtube {
      float: left;
      width: 16px;
      height: 16px;
      background-image: url(https://static.mediacdn.vn/nld/web_images/mob/Youtube.svg);
      border-radius: 50%;
      margin-left: 10px;
      display: block;
      margin-top: 0;
    }
  }
  ul.list-menu-active {
    position: absolute;
    width: 100%;
    right: 0;
    top: 44px;
    z-index: 99999;
    background: #fff;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    display: block;
  }
}
.fl {
  float: left;
}
a {
  &:visited {
    color: #000095;
    h3 {
      color: #000095;
    }
    h2 {
      color: #000095;
    }
  }
}
.loginform {
  float: left;
  position: relative;
  left: 8px;
  top: -2px;
}
@media (max-width: 1023px) {
  .cf {
    display: block;
  }
}
