<div class="cf" style="height: 47px">
  <div id="header_menu" class="cf header_w">
    <div class="empty ovh" style="height: 40px; display: none"></div>
    <div class="ovh header logo">

      <div class="open-menu fl" (click)="openMenu()">
        <a class="main-menu clearfix">
          <span class="line-1"></span>
          <span class="line-2"></span>
          <span class="line-3"></span>
        </a>
        <div class="clearfix"></div>
        <ul class="list-menu clearfix" [class.list-menu-active]="showMenu" >
          <li>
            <a routerLink="/trong-nuoc" title="Thời sự">Trong nước</a>
          </li>
          <li>
            <a routerLink="/thoi-su-quoc-te"  title="Thời sự quốc tế">Quốc tế</a>
          </li>
          <li>
            <a routerLink="/cong-doan" title="Công đoàn">Công đoàn</a>
          </li>
          <li>
            <a routerLink="/ban-doc" title="Bạn đọc">Bạn đọc</a>
          </li>
          <li>
            <a routerLink="/kinh-te" title="Kinh tế">Kinh tế</a>
          </li>
          <li>
            <a routerLink="/suc-khoe" title="Sức khỏe">Sức khỏe</a>
          </li>
          <li>
            <a routerLink="/giao-duc"title="Giáo dục">Giáo dục</a>
          </li>
          <li>
            <a routerLink="/phap-luat" title="Pháp luật">Pháp luật</a>
          </li>
          <li>
            <a  routerLink="/giai-tri"title="Giải trí">Giải trí</a>
          </li>
          <li>
            <a routerLink="/the-thao"title="Thể thao">Thể thao</a>
          </li>
          <li>
            <a routerLink="/cong-nghe" title="Công nghệ">Công nghệ</a>
          </li>

          <li>
            <a routerLink="/dia-oc" title="Địa ốc" >Địa ốc</a>
          </li>
          <li>
            <a href="/van-nghe.htm" title="Văn nghệ">Văn nghệ</a>
          </li>
          <li>
            <a  routerLink="/du-lich-xanh" title="Du lịch xanh">Du lịch xanh</a>
          </li>
          <li>
            <a routerLink="/phu-nu">Phụ nữ</a>
          </li>

          <li>
            <a routerLink="/thi-truong">Thị trường</a>
          </li>
          <li>
            <a routerLink="/ly-tuong-song" title="Lý tưởng sống">Lý tưởng sống</a>
          </li>
          <li>
            <a routerLink="/noi-thang"  title="Nói thẳng">Nói thẳng</a>
          </li>
          <li>
            <a routerLink="/tin-doc-quyen"  title="Tin độc quyền">Tin độc quyền</a>
          </li>

          <li class="clearfix" style="height: 150px; border: none; background: none; width: 100%;"></li>
        </ul>
      </div>
      <a title="Người lao động mobile" class="fl logo" href="/">&nbsp;</a>


      <div class="search">
        <a title="Tìm kiếm" class="btn-search" (click)="openInputSearch()" ></a>
        <input type="text" id="txtKeyword" class="input-search" [class.input-search-active]="showIpunSearch" [(ngModel)]="enteredSearchValue" (keyup.enter)="search()" placeholder="Nhập từ khóa">
      </div>
      <div class="social">
        <a  title="Facebook" class="social-facebook"></a>
        <a  title="Youtube" class="social-youtube"></a>
        <div class="loginform">
          <div class="h_logout" id="head_login" style="display: block;">
            <a id="btn-login"  title="ĐĂNG KÝ / ĐĂNG NHẬP">
              <img src="https://static.mediacdn.vn/nld/Images/iconuser.svg" width="22" alt="user">
            </a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
