<p>technology works!</p>
<section class="body">

  <div class="body-content body-category">
    <div class="cate-left">
      <ul class="sub-cate">
        <li>
          <h1><a href="/cong-nghe.htm" title="Công nghệ" class="title-cate active">
            Công nghệ</a></h1>
        </li>

        <li>
          <h2><a href="/cong-nghe/thiet-bi-so.htm" data-status="1" data-parentid="1317" title="Thiết bị số" class="title
                                    ">Thiết bị số</a></h2>
        </li>

        <li>
          <h2><a href="/cong-nghe/bao-mat.htm" data-status="1" data-parentid="1317" title="Bảo mật" class="title
                                    ">Bảo mật</a></h2>
        </li>

        <li>
          <h2><a href="/cong-nghe/cu-dan-mang.htm" data-status="1" data-parentid="1317" title="Cư dân mạng" class="title
                                    ">Cư dân mạng</a></h2>
        </li>


      </ul>
      <div class="clearfix"></div>
      <ul class="sub-cate-child">

      </ul>
      <div class="clearfix"></div>

      <div class="box-cate-focus" data-boxtype="zonenewsposition">
        <div class="news-info">
          <h3><a data-linktype="newsdetail" data-adr="2022072319420901" data-newsid="2022072319420901" data-id="l1-2022072319420901" data-newstypetitle="0" href="/cong-nghe/khach-hang-phan-nan-zoom-nang-cap-dich-vu-hoi-hop-2022072319420901.htm" title="Khách hàng phàn nàn, Zoom nâng cấp dịch vụ hội họp" class="title">Khách hàng phàn nàn, Zoom nâng cấp dịch vụ hội họp</a></h3>
          <p class="sapo">(NLĐO)- Zoom nâng cấp chế độ bảo mật đối với dịch vụ hội họp và đàm thoại trực tuyến bằng việc bổ sung cơ chế mã hóa đầu - cuối (E2EE) tuyệt đối.</p>
        </div>

        <a href="/cong-nghe/khach-hang-phan-nan-zoom-nang-cap-dich-vu-hoi-hop-2022072319420901.htm" title="Khách hàng phàn nàn, Zoom nâng cấp dịch vụ hội họp" data-newstype="0" class="img435x273">
          <img src="https://nld.mediacdn.vn/zoom/435_273/291774122806476800/2022/7/23/zoom01-1658580010351549705973.png" alt="Khách hàng phàn nàn, Zoom nâng cấp dịch vụ hội họp" title="Khách hàng phàn nàn, Zoom nâng cấp dịch vụ hội họp" class="img435x273">
        </a>

        <div class="clearfix"></div>
        <span class="separator"></span>
      </div>







      <div class="ads_left">

      </div>

      <div class="list-news-container">


        <div class="cate-list-news">


          <ul class="list-news clearfix">



            <li class="news-item " data-newsid="20220723201749472">

              <a href="/cong-nghe/xoa-song-2g-danh-tai-nguyen-cho-mang-moi-20220723201749472.htm" title="Xóa sóng 2G, dành tài nguyên cho mạng mới" data-newstype="0" class="img220x139">
                <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/23/11-anh-chot-1124-7-1658580933987469376286.jpg" alt="Xóa sóng 2G, dành tài nguyên cho mạng mới" title="Xóa sóng 2G, dành tài nguyên cho mạng mới" class="img220x139">
              </a>

              <div class="news-info">
                <h3><a href="/cong-nghe/xoa-song-2g-danh-tai-nguyen-cho-mang-moi-20220723201749472.htm" data-newstypetitle="0" data-newsid="20220723201749472" title="Xóa sóng 2G, dành tài nguyên cho mạng mới" class="title">Xóa sóng 2G, dành tài nguyên cho mạng mới</a></h3>
                <div class="clearfix"></div>


              </div>
              <div class="clearfix"></div>
            </li>





            <li class="news-item no-img" data-newsid="20220723201838803">

              <div class="news-info">
                <h3><a href="/cong-nghe/go-vuong-de-tang-toc-chuyen-doi-so-20220723201838803.htm" data-newstypetitle="0" data-newsid="20220723201838803" title="Gỡ vướng để tăng tốc chuyển đổi số" class="title">Gỡ vướng để tăng tốc chuyển đổi số</a></h3>
                <div class="clearfix"></div>


              </div>
              <div class="clearfix"></div>
            </li>





            <li class="news-item " data-newsid="20220722151435802">

              <a href="/cong-nghe/facebook-bat-ngo-thay-doi-sap-tro-thanh-tiktok-thu-hai-20220722151435802.htm" title="Facebook bất ngờ thay đổi, sắp trở thành “TikTok thứ hai”" data-newstype="0" class="img220x139">
                <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/22/facebook01-16584774715991224888609.png" alt="Facebook bất ngờ thay đổi, sắp trở thành “TikTok thứ hai”" title="Facebook bất ngờ thay đổi, sắp trở thành “TikTok thứ hai”" class="img220x139">
              </a>

              <div class="news-info">
                <h3><a href="/cong-nghe/facebook-bat-ngo-thay-doi-sap-tro-thanh-tiktok-thu-hai-20220722151435802.htm" data-newstypetitle="0" data-newsid="20220722151435802" title="Facebook bất ngờ thay đổi, sắp trở thành “TikTok thứ hai”" class="title">Facebook bất ngờ thay đổi, sắp trở thành “TikTok thứ hai”</a></h3>
                <div class="clearfix"></div>


                <ul class="news-relate">

                  <li>
                    <a href="/cong-nghe/gps-xuat-xu-trung-quoc-loi-bao-mat-cac-phuong-tien-quan-su-bi-tiet-lo-vi-tri-20220720154507949.htm" title="GPS xuất xứ Trung Quốc lỗi bảo mật, các phương tiện quân sự bị tiết lộ vị trí" class="title">GPS xuất xứ Trung Quốc lỗi bảo mật, các phương tiện quân sự bị tiết lộ vị trí</a>
                  </li>

                  <li>
                    <a href="/cong-nghe/samsung-bat-tay-microsoft-google-de-tang-cuong-bao-mat-cho-dien-thoai-20220719144649487.htm" title="Samsung “bắt tay” Microsoft, Google để tăng cường bảo mật cho điện thoại" class="title">Samsung “bắt tay” Microsoft, Google để tăng cường bảo mật cho điện thoại</a>
                  </li>

                </ul>

              </div>
              <div class="clearfix"></div>
            </li>





            <li class="news-item " data-newsid="20220721130429812">

              <a href="/cong-nghe/that-thoat-hang-trieu-usd-vi-vi-pham-ban-quyen-truc-tuyen-20220721130429812.htm" title="Thất thoát hàng triệu USD vì vi phạm bản quyền trực tuyến" data-newstype="0" class="img220x139">
                <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/21/anh-chup-man-hinh-2022-07-21-luc-130111-16583833049121224248297.png" alt="Thất thoát hàng triệu USD vì vi phạm bản quyền trực tuyến" title="Thất thoát hàng triệu USD vì vi phạm bản quyền trực tuyến" class="img220x139">
              </a>

              <div class="news-info">
                <h3><a href="/cong-nghe/that-thoat-hang-trieu-usd-vi-vi-pham-ban-quyen-truc-tuyen-20220721130429812.htm" data-newstypetitle="0" data-newsid="20220721130429812" title="Thất thoát hàng triệu USD vì vi phạm bản quyền trực tuyến" class="title">Thất thoát hàng triệu USD vì vi phạm bản quyền trực tuyến</a></h3>
                <div class="clearfix"></div>


                <ul class="news-relate">

                  <li>
                    <a href="/cong-nghe/truyen-hinh-mytv-chinh-thuc-so-huu-ban-quyen-giai-copa-america-2019-20190612153346301.htm" title="Truyền hình MyTV chính thức sở hữu bản quyền giải Copa America 2019" class="title">Truyền hình MyTV chính thức sở hữu bản quyền giải Copa America 2019</a>
                  </li>

                  <li>
                    <a href="/tin-tuc/apple-siet-chuyen-ban-quyen-la-dung-20170410221253195.htm" title="Apple “siết” chuyện bản quyền là đúng" class="title">Apple “siết” chuyện bản quyền là đúng</a>
                  </li>

                </ul>

              </div>
              <div class="clearfix"></div>
            </li>





            <li class="news-item " data-newsid="20220720154507949">

              <a href="/cong-nghe/gps-xuat-xu-trung-quoc-loi-bao-mat-cac-phuong-tien-quan-su-bi-tiet-lo-vi-tri-20220720154507949.htm" title="GPS xuất xứ Trung Quốc lỗi bảo mật, các phương tiện quân sự bị tiết lộ vị trí" data-newstype="0" class="img220x139">
                <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/20/gpschina-165830619570458925894.png" alt="GPS xuất xứ Trung Quốc lỗi bảo mật, các phương tiện quân sự bị tiết lộ vị trí" title="GPS xuất xứ Trung Quốc lỗi bảo mật, các phương tiện quân sự bị tiết lộ vị trí" class="img220x139">
              </a>

              <div class="news-info">
                <h3><a href="/cong-nghe/gps-xuat-xu-trung-quoc-loi-bao-mat-cac-phuong-tien-quan-su-bi-tiet-lo-vi-tri-20220720154507949.htm" data-newstypetitle="0" data-newsid="20220720154507949" title="GPS xuất xứ Trung Quốc lỗi bảo mật, các phương tiện quân sự bị tiết lộ vị trí" class="title">GPS xuất xứ Trung Quốc lỗi bảo mật, các phương tiện quân sự bị tiết lộ vị trí</a></h3>
                <div class="clearfix"></div>


                <ul class="news-relate">

                  <li>
                    <a href="/nhip-song-net/chet-duoi-vi-he-thong-gps-20161130103936263.htm" title="Chết đuối vì hệ thống GPS" class="title">Chết đuối vì hệ thống GPS</a>
                  </li>

                  <li>
                    <a href="/thiet-bi-so/co-gai-lao-oto-xuong-ho-vi-di-theo-dinh-vi-gps-20160516155344497.htm" title="Cô gái lao ôtô xuống hồ vì đi theo định vị GPS" class="title">Cô gái lao ôtô xuống hồ vì đi theo định vị GPS</a>
                  </li>

                </ul>

              </div>
              <div class="clearfix"></div>
            </li>
            <div id="zone-k383u59b"><div id="share-k383u59o"></div> </div>




            <li class="news-item " data-newsid="20220719144649487">

              <a href="/cong-nghe/samsung-bat-tay-microsoft-google-de-tang-cuong-bao-mat-cho-dien-thoai-20220719144649487.htm" title="Samsung “bắt tay” Microsoft, Google để tăng cường bảo mật cho điện thoại" data-newstype="0" class="img220x139">
                <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/19/samsung01-1658216701316116735463.png" alt="Samsung “bắt tay” Microsoft, Google để tăng cường bảo mật cho điện thoại" title="Samsung “bắt tay” Microsoft, Google để tăng cường bảo mật cho điện thoại" class="img220x139">
              </a>

              <div class="news-info">
                <h3><a href="/cong-nghe/samsung-bat-tay-microsoft-google-de-tang-cuong-bao-mat-cho-dien-thoai-20220719144649487.htm" data-newstypetitle="0" data-newsid="20220719144649487" title="Samsung “bắt tay” Microsoft, Google để tăng cường bảo mật cho điện thoại" class="title">Samsung “bắt tay” Microsoft, Google để tăng cường bảo mật cho điện thoại</a></h3>
                <div class="clearfix"></div>


                <ul class="news-relate">

                  <li>
                    <a href="/cong-nghe/samsung-solve-for-tomorrow-2021-lan-toa-rong-hon-20210519203251703.htm" title="Samsung Solve for Tomorrow 2021 lan tỏa rộng hơn" class="title">Samsung Solve for Tomorrow 2021 lan tỏa rộng hơn</a>
                  </li>

                  <li>
                    <a href="/cong-nghe/samsung-gioi-thieu-smartphone-galaxy-s20-fe-phien-ban-snapdragon-865-20210522211644688.htm" title="Samsung giới thiệu smartphone Galaxy S20 FE phiên bản Snapdragon 865" class="title">Samsung giới thiệu smartphone Galaxy S20 FE phiên bản Snapdragon 865</a>
                  </li>

                </ul>

              </div>
              <div class="clearfix"></div>
            </li>





            <li class="news-item " data-newsid="20220718143248812">

              <a href="/cong-nghe/hon-80-ung-dung-gian-lan-am-tham-moc-tui-nguoi-dung-iphone-20220718143248812.htm" title="Hơn 80 ứng dụng gian lận âm thầm “móc túi” người dùng iPhone" data-newstype="0" class="img220x139">
                <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/18/ungdungdochai-16581294059101166219442.jpeg" alt="Hơn 80 ứng dụng gian lận âm thầm “móc túi” người dùng iPhone" title="Hơn 80 ứng dụng gian lận âm thầm “móc túi” người dùng iPhone" class="img220x139">
              </a>

              <div class="news-info">
                <h3><a href="/cong-nghe/hon-80-ung-dung-gian-lan-am-tham-moc-tui-nguoi-dung-iphone-20220718143248812.htm" data-newstypetitle="0" data-newsid="20220718143248812" title="Hơn 80 ứng dụng gian lận âm thầm “móc túi” người dùng iPhone" class="title">Hơn 80 ứng dụng gian lận âm thầm “móc túi” người dùng iPhone</a></h3>
                <div class="clearfix"></div>


                <ul class="news-relate">

                  <li>
                    <a href="/nhip-song-net/tai-khoan-pokemon-go-gian-lan-bat-dau-bi-khoa-20160816171702099.htm" title="Tài khoản Pokemon Go gian lận bắt đầu bị khóa" class="title">Tài khoản Pokemon Go gian lận bắt đầu bị khóa</a>
                  </li>

                  <li>
                    <a href="/mobile/bi-kip-gian-lan-trong-phep-thu-one-m8-2014040108479316.htm" title="Bí kíp gian lận trong phép thử One M8" class="title">Bí kíp gian lận trong phép thử One M8</a>
                  </li>

                </ul>

              </div>
              <div class="clearfix"></div>
            </li>





            <li class="news-item " data-newsid="20220716194928754">

              <a href="/cong-nghe/pin-nang-luong-mat-troi-chi-phi-thap-de-dung-20220716194928754.htm" title="Pin năng lượng mặt trời chi phí thấp, dễ dùng" data-newstype="0" class="img220x139">
                <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/16/11-chot-16579749959912067206424.jpg" alt="Pin năng lượng mặt trời chi phí thấp, dễ dùng" title="Pin năng lượng mặt trời chi phí thấp, dễ dùng" class="img220x139">
              </a>

              <div class="news-info">
                <h3><a href="/cong-nghe/pin-nang-luong-mat-troi-chi-phi-thap-de-dung-20220716194928754.htm" data-newstypetitle="0" data-newsid="20220716194928754" title="Pin năng lượng mặt trời chi phí thấp, dễ dùng" class="title">Pin năng lượng mặt trời chi phí thấp, dễ dùng</a></h3>
                <div class="clearfix"></div>


                <ul class="news-relate">

                  <li>
                    <a href="/tieu-dung/giai-tri-bat-tan-voi-loa-di-dong-sac-pin-nang-luong-mat-troi-20201207170323921.htm" title="Giải trí bất tận với loa di động sạc pin năng lượng mặt trời" class="title">Giải trí bất tận với loa di động sạc pin năng lượng mặt trời</a>
                  </li>

                  <li>
                    <a href="/thoi-su-trong-nuoc/lan-dau-tien-ap-dung-giai-phap-pin-nang-luong-mat-troi-o-da-nang-20161122155616741.htm" title="Lần đầu tiên áp dụng giải pháp pin năng lượng mặt trời ở Đà Nẵng" class="title">Lần đầu tiên áp dụng giải pháp pin năng lượng mặt trời ở Đà Nẵng</a>
                  </li>

                </ul>

              </div>
              <div class="clearfix"></div>
            </li>





            <li class="news-item " data-newsid="20220716194453576">

              <a href="/cong-nghe/nguoi-dung-tre-nghien-tiktok-hon-youtube-20220716194453576.htm" title="Người dùng trẻ nghiện TikTok hơn YouTube" data-newstype="0" class="img220x139">
                <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/18/tiktokandyoutube-1-1658110904846921112807.jpeg" alt="Người dùng trẻ nghiện TikTok hơn YouTube" title="Người dùng trẻ nghiện TikTok hơn YouTube" class="img220x139">
              </a>

              <div class="news-info">
                <h3><a href="/cong-nghe/nguoi-dung-tre-nghien-tiktok-hon-youtube-20220716194453576.htm" data-newstypetitle="0" data-newsid="20220716194453576" title="Người dùng trẻ nghiện TikTok hơn YouTube" class="title">Người dùng trẻ nghiện TikTok hơn YouTube</a></h3>
                <div class="clearfix"></div>


                <ul class="news-relate">

                  <li>
                    <a href="/cong-nghe/tiktok-gioi-han-do-tuoi-nguoi-xem-video-20220715151051729.htm" title="TikTok giới hạn độ tuổi người xem video" class="title">TikTok giới hạn độ tuổi người xem video</a>
                  </li>

                  <li>
                    <a href="/cong-nghe/apple-google-se-xoa-tiktok-khoi-cua-hang-ung-dung-20220702205057103.htm" title="Apple, Google sẽ xóa TikTok khỏi cửa hàng ứng dụng?" class="title">Apple, Google sẽ xóa TikTok khỏi cửa hàng ứng dụng?</a>
                  </li>

                </ul>

              </div>
              <div class="clearfix"></div>
            </li>





            <li class="news-item " data-newsid="20220716194556689">

              <a href="/cong-nghe/cong-nghe-so-tao-co-hoi-viec-lam-khoi-nghiep-20220716194556689.htm" title="Công nghệ số tạo cơ hội việc làm, khởi nghiệp" data-newstype="0" class="img220x139">
                <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/18/starupanh-18-7-16581112426131544254022.jpg" alt="Công nghệ số tạo cơ hội việc làm, khởi nghiệp" title="Công nghệ số tạo cơ hội việc làm, khởi nghiệp" class="img220x139">
              </a>

              <div class="news-info">
                <h3><a href="/cong-nghe/cong-nghe-so-tao-co-hoi-viec-lam-khoi-nghiep-20220716194556689.htm" data-newstypetitle="0" data-newsid="20220716194556689" title="Công nghệ số tạo cơ hội việc làm, khởi nghiệp" class="title">Công nghệ số tạo cơ hội việc làm, khởi nghiệp</a></h3>
                <div class="clearfix"></div>


                <ul class="news-relate">

                  <li>
                    <a href="/cong-doan/khoi-day-tinh-than-khoi-nghiep-trong-hoc-sinh-sinh-vien-20220627210747792.htm" title="Khơi dậy tinh thần khởi nghiệp trong học sinh, sinh viên" class="title">Khơi dậy tinh thần khởi nghiệp trong học sinh, sinh viên</a>
                  </li>

                  <li>
                    <a href="/cong-nghe/vuon-uom-khoi-nghiep-doanh-nhan-tre-them-san-choi-cho-cac-startup-cong-nghe-20220626120953504.htm" title="Vườn ươm Khởi nghiệp Doanh nhân trẻ: Thêm sân chơi cho các startup công nghệ" class="title">Vườn ươm Khởi nghiệp Doanh nhân trẻ: Thêm sân chơi cho các startup công nghệ</a>
                  </li>

                </ul>

              </div>
              <div class="clearfix"></div>
            </li>







          </ul>




        </div>
        <div class="clearfix"></div>





        <div class="list-news-timeline">


          <div class="cate-list-news mg_t10">


            <ul class="list-news clearfix">



              <li class="news-item " data-newsid="20220715151051729">

                <a href="/cong-nghe/tiktok-gioi-han-do-tuoi-nguoi-xem-video-20220715151051729.htm" title="TikTok giới hạn độ tuổi người xem video" data-newstype="0" class="img220x139">
                  <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/15/video-16578724561071765380472.jpeg" alt="TikTok giới hạn độ tuổi người xem video" title="TikTok giới hạn độ tuổi người xem video" class="img220x139 lazy">
                </a>

                <div class="news-info">
                  <h3><a href="/cong-nghe/tiktok-gioi-han-do-tuoi-nguoi-xem-video-20220715151051729.htm" data-newstypetitle="0" data-newsid="20220715151051729" title="TikTok giới hạn độ tuổi người xem video" class="title">TikTok giới hạn độ tuổi người xem video</a></h3>
                  <div class="clearfix"></div>


                  <ul class="news-relate">

                    <li>
                      <a href="/cong-nghe/apple-google-se-xoa-tiktok-khoi-cua-hang-ung-dung-20220702205057103.htm" title="Apple, Google sẽ xóa TikTok khỏi cửa hàng ứng dụng?" class="title">Apple, Google sẽ xóa TikTok khỏi cửa hàng ứng dụng?</a>
                    </li>

                    <li>
                      <a href="/cong-nghe/tiktok-bi-to-dang-bien-tuong-thanh-cau-lac-bo-thoat-y-20220430100540311.htm" title="TikTok bị tố đang biến tướng thành “câu lạc bộ thoát y”" class="title">TikTok bị tố đang biến tướng thành “câu lạc bộ thoát y”</a>
                    </li>

                  </ul>

                </div>
                <div class="clearfix"></div>
              </li>

              <div id="zone-k3842ew8"><div id="share-k3842ewf"></div> </div>



              <li class="news-item " data-newsid="20220715154402919">

                <a href="/cong-nghe/bi-mat-dong-troi-do-cuu-lap-trinh-vien-cia-tiet-lo-20220715154402919.htm" title="Bí mật động trời do cựu lập trình viên CIA tiết lộ" data-newstype="0" class="img220x139">
                  <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/15/cia-1657874455563394416179.jpeg" alt="Bí mật động trời do cựu lập trình viên CIA tiết lộ" title="Bí mật động trời do cựu lập trình viên CIA tiết lộ" class="img220x139 lazy">
                </a>

                <div class="news-info">
                  <h3><a href="/cong-nghe/bi-mat-dong-troi-do-cuu-lap-trinh-vien-cia-tiet-lo-20220715154402919.htm" data-newstypetitle="0" data-newsid="20220715154402919" title="Bí mật động trời do cựu lập trình viên CIA tiết lộ" class="title">Bí mật động trời do cựu lập trình viên CIA tiết lộ</a></h3>
                  <div class="clearfix"></div>


                  <ul class="news-relate">

                    <li>
                      <a href="/cong-nghe/thong-tin-ca-nhan-bi-ro-ri-rao-ban-tren-mang-nguy-hiem-the-nao-20210519105204845.htm" title="Thông tin cá nhân bị rò rỉ, rao bán trên mạng nguy hiểm thế nào?" class="title">Thông tin cá nhân bị rò rỉ, rao bán trên mạng nguy hiểm thế nào?</a>
                    </li>

                    <li>
                      <a href="/cong-nghe/google-pixel-4-ro-ri-nhieu-thay-doi-bat-ngo-20190523160608758.htm" title="Google Pixel 4 rò rỉ: Nhiều thay đổi bất ngờ" class="title">Google Pixel 4 rò rỉ: Nhiều thay đổi bất ngờ</a>
                    </li>

                  </ul>

                </div>
                <div class="clearfix"></div>
              </li>





              <li class="news-item " data-newsid="20220714180006324">

                <a href="/cong-nghe/doc-dao-may-xu-ly-phan-ga-bang-nang-luong-sinh-hoc-20220714180006324.htm" title="Độc đáo máy xử lý phân gà bằng năng lượng sinh học" data-newstype="0" class="img220x139">
                  <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/14/h-1-16577955268221280758736.jpg" alt="Độc đáo máy xử lý phân gà bằng năng lượng sinh học" title="Độc đáo máy xử lý phân gà bằng năng lượng sinh học" class="img220x139 lazy">
                </a>

                <div class="news-info">
                  <h3><a href="/cong-nghe/doc-dao-may-xu-ly-phan-ga-bang-nang-luong-sinh-hoc-20220714180006324.htm" data-newstypetitle="0" data-newsid="20220714180006324" title="Độc đáo máy xử lý phân gà bằng năng lượng sinh học" class="title">Độc đáo máy xử lý phân gà bằng năng lượng sinh học</a></h3>
                  <div class="clearfix"></div>


                  <ul class="news-relate">

                    <li>
                      <a href="/kinh-te/lam-chu-cong-nghe-dieu-khien-may-phay-cnc-20211228200553331.htm" title="Làm chủ công nghệ điều khiển máy phay CNC" class="title">Làm chủ công nghệ điều khiển máy phay CNC</a>
                    </li>

                    <li>
                      <a href="/kinh-te/cong-nghe-iot-trong-linh-vuc-xu-ly-nuoc-va-dien-cong-nghiep-20211213192144379.htm" title="Ứng dụng công nghệ IoT trong lĩnh vực xử lý nước và điện công nghiệp" class="title">Ứng dụng công nghệ IoT trong lĩnh vực xử lý nước và điện công nghiệp</a>
                    </li>

                  </ul>

                </div>
                <div class="clearfix"></div>
              </li>





              <li class="news-item " data-newsid="20220713153755977">

                <a href="/cong-nghe/youtube-trien-khai-che-do-hinh-trong-hinhcho-nguoi-dung-iphone-ipad-20220713153755977.htm" title="Youtube triển khai chế độ “hình trong hình”cho người dùng iPhone, iPad" data-newstype="0" class="img220x139">
                  <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/13/pip-16577012390632134733559.jpeg" alt="Youtube triển khai chế độ “hình trong hình”cho người dùng iPhone, iPad" title="Youtube triển khai chế độ “hình trong hình”cho người dùng iPhone, iPad" class="img220x139 lazy">
                </a>

                <div class="news-info">
                  <h3><a href="/cong-nghe/youtube-trien-khai-che-do-hinh-trong-hinhcho-nguoi-dung-iphone-ipad-20220713153755977.htm" data-newstypetitle="0" data-newsid="20220713153755977" title="Youtube triển khai chế độ “hình trong hình”cho người dùng iPhone, iPad" class="title">Youtube triển khai chế độ “hình trong hình”cho người dùng iPhone, iPad</a></h3>
                  <div class="clearfix"></div>


                  <ul class="news-relate">

                    <li>
                      <a href="/cong-nghe/tinh-nang-sieu-bao-mat-cua-iphone-danh-cho-cac-chinh-tri-gia-nha-bao-20220710111850997.htm" title="Tính năng siêu bảo mật của iPhone dành cho các chính trị gia, nhà báo" class="title">Tính năng "siêu bảo mật" của iPhone dành cho các chính trị gia, nhà báo</a>
                    </li>

                    <li>
                      <a href="/cong-nghe/google-bo-sung-loat-tinh-nang-moi-cho-iphone-va-ipad-20220625152024094.htm" title="Google bổ sung loạt tính năng mới cho iPhone và iPad." class="title">Google bổ sung loạt tính năng mới cho iPhone và iPad.</a>
                    </li>

                  </ul>

                </div>
                <div class="clearfix"></div>
              </li>





              <li class="news-item " data-newsid="20220713150944259">

                <a href="/cong-nghe/elon-musk-bo-cua-chay-lay-nguoi-twitter-dam-don-kien-20220713150944259.htm" title="Elon Musk “bỏ của chạy lấy người”, Twitter đâm đơn kiện" data-newstype="0" class="img220x139">
                  <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/13/elonmusk-1657699514253938044623.jpeg" alt="Elon Musk “bỏ của chạy lấy người”, Twitter đâm đơn kiện" title="Elon Musk “bỏ của chạy lấy người”, Twitter đâm đơn kiện" class="img220x139 lazy">
                </a>

                <div class="news-info">
                  <h3><a href="/cong-nghe/elon-musk-bo-cua-chay-lay-nguoi-twitter-dam-don-kien-20220713150944259.htm" data-newstypetitle="0" data-newsid="20220713150944259" title="Elon Musk “bỏ của chạy lấy người”, Twitter đâm đơn kiện" class="title">Elon Musk “bỏ của chạy lấy người”, Twitter đâm đơn kiện</a></h3>
                  <div class="clearfix"></div>


                  <ul class="news-relate">

                    <li>
                      <a href="/cong-nghe/co-bien-trong-thuong-vu-ti-phu-elon-musk-mua-lai-twitter-20220708150144441.htm" title="“Có biến” trong thương vụ tỉ phú Elon Musk mua lại Twitter?" class="title">“Có biến” trong thương vụ tỉ phú Elon Musk mua lại Twitter?</a>
                    </li>

                    <li>
                      <a href="/cong-nghe/ti-phu-elon-musk-lai-lam-phep-dong-dogecoin-tang-vot-20220620110248896.htm" title="Tỉ phú Elon Musk lại làm phép, đồng Dogecoin tăng vọt" class="title">Tỉ phú Elon Musk lại "làm phép", đồng Dogecoin tăng vọt</a>
                    </li>

                  </ul>

                </div>
                <div class="clearfix"></div>
              </li>





              <li class="news-item " data-newsid="20220713143943301">

                <a href="/giao-duc-khoa-hoc/thuc-hu-thong-tin-rao-ban-du-lieu-cua-30-trieu-ho-so-nguoi-dung-tu-website-ve-giao-duc-20220713143943301.htm" title="Thực hư thông tin rao bán dữ liệu của 30 triệu hồ sơ người dùng từ website về giáo dục" data-newstype="0" class="img220x139">
                  <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/13/anh-chup-man-hinh-2022-07-07-luc-075324-165769782269391906035.png" alt="Thực hư thông tin rao bán dữ liệu của 30 triệu hồ sơ người dùng từ website về giáo dục" title="Thực hư thông tin rao bán dữ liệu của 30 triệu hồ sơ người dùng từ website về giáo dục" class="img220x139 lazy">
                </a>

                <div class="news-info">
                  <h3><a href="/giao-duc-khoa-hoc/thuc-hu-thong-tin-rao-ban-du-lieu-cua-30-trieu-ho-so-nguoi-dung-tu-website-ve-giao-duc-20220713143943301.htm" data-newstypetitle="0" data-newsid="20220713143943301" title="Thực hư thông tin rao bán dữ liệu của 30 triệu hồ sơ người dùng từ website về giáo dục" class="title">Thực hư thông tin rao bán dữ liệu của 30 triệu hồ sơ người dùng từ website về giáo dục</a></h3>
                  <div class="clearfix"></div>


                  <ul class="news-relate">

                    <li>
                      <a href="/giao-duc-khoa-hoc/bo-sung-du-lieu-xet-tuyen-vao-lop-6-truong-chuyen-tran-dai-nghia-20210821205044584.htm" title="Bổ sung dữ liệu xét tuyển vào lớp 6 Trường chuyên Trần Đại Nghĩa" class="title">Bổ sung dữ liệu xét tuyển vào lớp 6 Trường chuyên Trần Đại Nghĩa</a>
                    </li>

                    <li>
                      <a href="/giao-duc-khoa-hoc/vinif-ho-tro-5-co-so-dao-tao-dau-nganh-dao-tao-thac-si-khoa-hoc-du-lieu-20200718170015147.htm" title="VinIF hỗ trợ 5 cơ sở đào tạo đầu ngành đào tạo thạc sĩ Khoa học dữ liệu" class="title">VinIF hỗ trợ 5 cơ sở đào tạo đầu ngành đào tạo thạc sĩ Khoa học dữ liệu</a>
                    </li>

                  </ul>

                </div>
                <div class="clearfix"></div>
              </li>





              <li class="news-item " data-newsid="20220712145246338">

                <a href="/cong-nghe/bat-ngo-ve-niem-tin-cua-nha-dau-tu-voi-bitcoin-20220712145246338.htm" title="Bất ngờ về niềm tin của nhà đầu tư với Bitcoin" data-newstype="0" class="img220x139">
                  <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/12/bitcoin-16576121071791083492247.jpeg" alt="Bất ngờ về niềm tin của nhà đầu tư với Bitcoin" title="Bất ngờ về niềm tin của nhà đầu tư với Bitcoin" class="img220x139 lazy">
                </a>

                <div class="news-info">
                  <h3><a href="/cong-nghe/bat-ngo-ve-niem-tin-cua-nha-dau-tu-voi-bitcoin-20220712145246338.htm" data-newstypetitle="0" data-newsid="20220712145246338" title="Bất ngờ về niềm tin của nhà đầu tư với Bitcoin" class="title">Bất ngờ về niềm tin của nhà đầu tư với Bitcoin</a></h3>
                  <div class="clearfix"></div>


                  <ul class="news-relate">

                    <li>
                      <a href="/cong-nghe/tho-dao-bitcoin-ban-thao-vi-gong-het-noi-20220623105118145.htm" title="Thợ đào Bitcoin bán tháo vì “gồng hết nổi”" class="title">Thợ đào Bitcoin bán tháo vì “gồng hết nổi”</a>
                    </li>

                    <li>
                      <a href="/cong-nghe/bitcoin-va-nhieu-loai-tien-dien-tu-khac-dong-loat-lao-doc-20220614111813281.htm" title="Bitcoin và nhiều loại tiền điện tử khác đồng loạt lao dốc" class="title">Bitcoin và nhiều loại tiền điện tử khác đồng loạt lao dốc</a>
                    </li>

                  </ul>

                </div>
                <div class="clearfix"></div>
              </li>





              <li class="news-item " data-newsid="20220712122600532">

                <a href="/cong-nghe/hai-ga-khong-lo-cong-nghe-alibaba-tencent-bi-phat-20220712122600532.htm" title="Hai gã khổng lồ công nghệ Alibaba, Tencent bị phạt" data-newstype="0" class="img220x139">
                  <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/12/alibaba-1657603439662196740952.png" alt="Hai gã khổng lồ công nghệ Alibaba, Tencent bị phạt" title="Hai gã khổng lồ công nghệ Alibaba, Tencent bị phạt" class="img220x139 lazy">
                </a>

                <div class="news-info">
                  <h3><a href="/cong-nghe/hai-ga-khong-lo-cong-nghe-alibaba-tencent-bi-phat-20220712122600532.htm" data-newstypetitle="0" data-newsid="20220712122600532" title="Hai gã khổng lồ công nghệ Alibaba, Tencent bị phạt" class="title">Hai gã khổng lồ công nghệ Alibaba, Tencent bị phạt</a></h3>
                  <div class="clearfix"></div>


                  <ul class="news-relate">

                    <li>
                      <a href="/cong-nghe/video-kham-phu-khoa-rao-ban-tren-alibaba-internet-trung-quoc-day-song-20190311143613727.htm" title="Video khám phụ khoa rao bán trên Alibaba, Internet Trung Quốc dậy sóng" class="title">Video khám phụ khoa rao bán trên Alibaba, Internet Trung Quốc dậy sóng</a>
                    </li>

                    <li>
                      <a href="/tin-tuc/alibaba-cap-ben-nuoc-my-20140507215827102.htm" title="Alibaba “cập bến” nước Mỹ" class="title">Alibaba “cập bến” nước Mỹ</a>
                    </li>

                  </ul>

                </div>
                <div class="clearfix"></div>
              </li>





              <li class="news-item " data-newsid="20220710111850997">

                <a href="/cong-nghe/tinh-nang-sieu-bao-mat-cua-iphone-danh-cho-cac-chinh-tri-gia-nha-bao-20220710111850997.htm" title="Tính năng &quot;siêu bảo mật&quot; của iPhone dành cho các chính trị gia, nhà báo" data-newstype="0" class="img220x139">
                  <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/10/appletin-cn10-7-1657426532110113881147.jpeg" alt="Tính năng &quot;siêu bảo mật&quot; của iPhone dành cho các chính trị gia, nhà báo" title="Tính năng &quot;siêu bảo mật&quot; của iPhone dành cho các chính trị gia, nhà báo" class="img220x139 lazy">
                </a>

                <div class="news-info">
                  <h3><a href="/cong-nghe/tinh-nang-sieu-bao-mat-cua-iphone-danh-cho-cac-chinh-tri-gia-nha-bao-20220710111850997.htm" data-newstypetitle="0" data-newsid="20220710111850997" title="Tính năng &quot;siêu bảo mật&quot; của iPhone dành cho các chính trị gia, nhà báo" class="title">Tính năng "siêu bảo mật" của iPhone dành cho các chính trị gia, nhà báo</a></h3>
                  <div class="clearfix"></div>


                  <ul class="news-relate">

                    <li>
                      <a href="/cong-nghe/twitter-youtube-cua-quan-doi-anh-bi-tin-tac-bien-thanh-noi-quang-cao-20220705093058482.htm" title="Twitter, YouTube của quân đội Anh bị tin tặc biến thành nơi quảng cáo" class="title">Twitter, YouTube của quân đội Anh bị tin tặc biến thành nơi quảng cáo</a>
                    </li>

                    <li>
                      <a href="/cong-nghe/cap-nhat-google-chrome-som-de-tang-bao-mat-20220326205733661.htm" title="Cập nhật Google Chrome sớm để tăng bảo mật" class="title">Cập nhật Google Chrome sớm để tăng bảo mật</a>
                    </li>

                  </ul>

                </div>
                <div class="clearfix"></div>
              </li>





              <li class="news-item " data-newsid="20220708150144441">

                <a href="/cong-nghe/co-bien-trong-thuong-vu-ti-phu-elon-musk-mua-lai-twitter-20220708150144441.htm" title="“Có biến” trong thương vụ tỉ phú Elon Musk mua lại Twitter?" data-newstype="0" class="img220x139">
                  <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/7/8/elonmusk-16572670545861842695877.jpeg" alt="“Có biến” trong thương vụ tỉ phú Elon Musk mua lại Twitter?" title="“Có biến” trong thương vụ tỉ phú Elon Musk mua lại Twitter?" class="img220x139 lazy">
                </a>

                <div class="news-info">
                  <h3><a href="/cong-nghe/co-bien-trong-thuong-vu-ti-phu-elon-musk-mua-lai-twitter-20220708150144441.htm" data-newstypetitle="0" data-newsid="20220708150144441" title="“Có biến” trong thương vụ tỉ phú Elon Musk mua lại Twitter?" class="title">“Có biến” trong thương vụ tỉ phú Elon Musk mua lại Twitter?</a></h3>
                  <div class="clearfix"></div>


                  <ul class="news-relate">

                    <li>
                      <a href="/cong-nghe/ti-phu-elon-musk-lai-lam-phep-dong-dogecoin-tang-vot-20220620110248896.htm" title="Tỉ phú Elon Musk lại làm phép, đồng Dogecoin tăng vọt" class="title">Tỉ phú Elon Musk lại "làm phép", đồng Dogecoin tăng vọt</a>
                    </li>

                    <li>
                      <a href="/cong-nghe/elon-musk-lam-dieu-bat-ngo-khien-gia-dong-dogecoin-tang-vot-20220528140036095.htm" title="Elon Musk làm điều bất ngờ khiến giá đồng Dogecoin tăng vọt" class="title">Elon Musk làm điều bất ngờ khiến giá đồng Dogecoin tăng vọt</a>
                    </li>

                  </ul>

                </div>
                <div class="clearfix"></div>
              </li>







            </ul>




          </div>
          <div class="clearfix"></div>





          <!--s: 07/26/2022 16:04:28--><!--LastModifiedDate:26/07/2022 16:04:28--></div>


        <div class="fb-loading-wrapper" id="IconLoadListDetail">
          <div class="fblw-timeline-item">
            <div class="fblwti-animated">

              <div class="fblwtia-mask fblwtia-title-line fblwtia-title-mask-0"></div>
              <div class="fblwtia-mask fblwtia-sepline-sapo fblwtia-sapo-line-0"></div>
              <div class="fblwtia-mask fblwtia-sepline-sapo fblwtia-sepline-sapo-0"></div>

              <!-- End .fblwtia-title-line -->

              <div class="fblwtia-mask fblwtia-title-line fblwtia-title-mask-1"></div>
              <div class="fblwtia-mask fblwtia-sepline-sapo fblwtia-sapo-line-1"></div>
              <div class="fblwtia-mask fblwtia-sepline-sapo fblwtia-sepline-sapo-1"></div>

              <!-- End .fblwtia-title-line 1 -->

              <div class="fblwtia-mask fblwtia-front-mask fblwtia-front-mask-2"></div>
              <div class="fblwtia-mask fblwtia-sapo-line fblwtia-sapo-line-2"></div>
              <div class="fblwtia-mask fblwtia-sepline-sapo fblwtia-sepline-sapo-2"></div>

              <!-- End .fblwtia-cate -->

              <div class="fblwtia-mask fblwtia-front-mask fblwtia-front-mask-3"></div>
              <div class="fblwtia-mask fblwtia-sapo-line fblwtia-sapo-line-3"></div>
              <div class="fblwtia-mask fblwtia-sepline-sapo fblwtia-sepline-sapo-3"></div>

              <!-- End .fblwtia-sapo 1 -->

              <div class="fblwtia-mask fblwtia-front-mask fblwtia-front-mask-4"></div>
              <div class="fblwtia-mask fblwtia-sapo-line fblwtia-sapo-line-4"></div>
              <div class="fblwtia-mask fblwtia-sepline-sapo fblwtia-sepline-sapo-4"></div>

              <!-- End .fblwtia-sapo 2 -->

              <div class="fblwtia-mask fblwtia-front-mask fblwtia-front-mask-5"></div>
              <div class="fblwtia-mask fblwtia-sapo-line fblwtia-sapo-line-5"></div>
              <div class="fblwtia-mask fblwtia-sepline-sapo fblwtia-sepline-sapo-5"></div>

            </div>
          </div>
        </div>
        <div class="load-more" style="height: 1px;"></div>
        <a href="javascript:;" title="Xem thêm" class="view-more-stream btn-readmore">Xem thêm</a>
      </div>
      <div class="list-box-container">


        <div class="box-video">
          <h2>
            <a href="javascript:;" title="Tin nổi bật" class="title-cate">Tin Nổi Bật</a>
            <span class="bg-right"></span>
          </h2>
          <div class="clearfix"></div>
          <ul class="list-video">


            <li>


              <a href="/thoi-su/can-canh-ngay-dau-thu-phi-khong-dung-tren-cao-toc-tp-hcm-long-thanh-dau-giay-202207261102395.htm" title="Cận cảnh ngày đầu thu phí không dừng trên cao tốc TP HCM – Long Thành - Dầu Giây" data-newstype="0" class="img216x133">
                <img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/7/26/thu-phi-khong-dung-2-1658807268765409460627.jpg" alt="Cận cảnh ngày đầu thu phí không dừng trên cao tốc TP HCM – Long Thành - Dầu Giây" title="Cận cảnh ngày đầu thu phí không dừng trên cao tốc TP HCM – Long Thành - Dầu Giây" class="img216x133">
              </a>


              <h3><a href="/thoi-su/can-canh-ngay-dau-thu-phi-khong-dung-tren-cao-toc-tp-hcm-long-thanh-dau-giay-202207261102395.htm" data-newstypetitle="0" data-newsid="202207261102395" title="Cận cảnh ngày đầu thu phí không dừng trên cao tốc TP HCM – Long Thành - Dầu Giây" class="title">Cận cảnh ngày đầu thu phí không dừng trên cao tốc TP HCM – Long Thành - Dầu Giây</a></h3>
            </li>

            <li>


              <a href="/thoi-su/phuong-an-giai-cuu-du-an-chong-ngap-10000-ti-dong-tai-tp-hcm-20220726131915857.htm" title="Phương án &quot;giải cứu&quot; dự án chống ngập 10.000 tỉ đồng tại TP HCM" data-newstype="0" class="img216x133">
                <img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/7/26/anh-1-cong-ngan-trieu-tan-thuan-quoc-anh-16588160927671523408830.jpg" alt="Phương án &quot;giải cứu&quot; dự án chống ngập 10.000 tỉ đồng tại TP HCM" title="Phương án &quot;giải cứu&quot; dự án chống ngập 10.000 tỉ đồng tại TP HCM" class="img216x133">
              </a>


              <h3><a href="/thoi-su/phuong-an-giai-cuu-du-an-chong-ngap-10000-ti-dong-tai-tp-hcm-20220726131915857.htm" data-newstypetitle="0" data-newsid="20220726131915857" title="Phương án &quot;giải cứu&quot; dự án chống ngập 10.000 tỉ đồng tại TP HCM" class="title">Phương án "giải cứu" dự án chống ngập 10.000 tỉ đồng tại TP HCM</a></h3>
            </li>

            <li>


              <a href="/thoi-su/kien-nghi-dieu-tra-dau-hieu-gay-thiet-hai-dac-biet-lon-tai-cong-ty-470-20220726145743915.htm" title="Kiến nghị điều tra dấu hiệu gây thiệt hại đặc biệt lớn tại Công ty 470" data-newstype="0" class="img216x133">
                <img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/7/26/hoa-don-chung-tu-mua-ban-hang-hoa-dich-vu-1658820077036567806469.jpg" alt="Kiến nghị điều tra dấu hiệu gây thiệt hại đặc biệt lớn tại Công ty 470" title="Kiến nghị điều tra dấu hiệu gây thiệt hại đặc biệt lớn tại Công ty 470" class="img216x133">
              </a>


              <h3><a href="/thoi-su/kien-nghi-dieu-tra-dau-hieu-gay-thiet-hai-dac-biet-lon-tai-cong-ty-470-20220726145743915.htm" data-newstypetitle="0" data-newsid="20220726145743915" title="Kiến nghị điều tra dấu hiệu gây thiệt hại đặc biệt lớn tại Công ty 470" class="title">Kiến nghị điều tra dấu hiệu gây thiệt hại đặc biệt lớn tại Công ty 470</a></h3>
            </li>

            <li>


              <a href="/thoi-su/de-nghi-ky-luat-giam-doc-so-y-te-tinh-tien-giang-20220726135957681.htm" title="Đề nghị kỷ luật Giám đốc Sở Y tế  tỉnh Tiền Giang" data-newstype="0" class="img216x133">
                <img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/7/26/ong-nguyen-luc-bi-bat--1658818559793257721279.jpg" alt="Đề nghị kỷ luật Giám đốc Sở Y tế  tỉnh Tiền Giang" title="Đề nghị kỷ luật Giám đốc Sở Y tế  tỉnh Tiền Giang" class="img216x133">
              </a>


              <h3><a href="/thoi-su/de-nghi-ky-luat-giam-doc-so-y-te-tinh-tien-giang-20220726135957681.htm" data-newstypetitle="0" data-newsid="20220726135957681" title="Đề nghị kỷ luật Giám đốc Sở Y tế  tỉnh Tiền Giang" class="title">Đề nghị kỷ luật Giám đốc Sở Y tế  tỉnh Tiền Giang</a></h3>
            </li>

            <li>


              <a href="/phap-luat/qua-trinh-giai-cuu-3-nguoi-bi-trum-giang-ho-giang-dau-rong-bat-coc-20220726112325784.htm" title="Quá trình giải cứu 3 người bị trùm giang hồ Giang “đầu rồng” bắt cóc" data-newstype="0" class="img216x133">
                <img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/7/26/edit-z3595024552942b2c6413d551173046d6189a75135fd81-16588090618481257143312.jpeg" alt="Quá trình giải cứu 3 người bị trùm giang hồ Giang “đầu rồng” bắt cóc" title="Quá trình giải cứu 3 người bị trùm giang hồ Giang “đầu rồng” bắt cóc" class="img216x133">
              </a>


              <h3><a href="/phap-luat/qua-trinh-giai-cuu-3-nguoi-bi-trum-giang-ho-giang-dau-rong-bat-coc-20220726112325784.htm" data-newstypetitle="0" data-newsid="20220726112325784" title="Quá trình giải cứu 3 người bị trùm giang hồ Giang “đầu rồng” bắt cóc" class="title">Quá trình giải cứu 3 người bị trùm giang hồ Giang “đầu rồng” bắt cóc</a></h3>
            </li>


          </ul>
        </div>






        <div class="box-video mg_t22">
          <h2>
            <a href="javascript:;" title="Xem nhiều nhất" class="title-cate">Xem nhiều nhất</a>
            <span class="bg-right"></span>
          </h2>
          <div class="clearfix"></div>
          <ul class="list-video">
            <li>



              <a href="/cong-nghe/pin-nang-luong-mat-troi-chi-phi-thap-de-dung-20220716194928754.htm" title="Pin năng lượng mặt trời chi phí thấp, dễ dùng" data-newstype="0" class="img216x133">
                <img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/7/16/11-chot-16579749959912067206424.jpg" alt="Pin năng lượng mặt trời chi phí thấp, dễ dùng" title="Pin năng lượng mặt trời chi phí thấp, dễ dùng" class="img216x133">
              </a>


              <h3><a href="/cong-nghe/pin-nang-luong-mat-troi-chi-phi-thap-de-dung-20220716194928754.htm" data-newstypetitle="0" data-newsid="20220716194928754" title="Pin năng lượng mặt trời chi phí thấp, dễ dùng" class="title">Pin năng lượng mặt trời chi phí thấp, dễ dùng</a></h3>

            </li>

            <li>

              <h3><a href="/cong-nghe/gps-xuat-xu-trung-quoc-loi-bao-mat-cac-phuong-tien-quan-su-bi-tiet-lo-vi-tri-20220720154507949.htm" data-newstypetitle="0" data-newsid="20220720154507949" title="GPS xuất xứ Trung Quốc lỗi bảo mật, các phương tiện quân sự bị tiết lộ vị trí" class="sub-title">GPS xuất xứ Trung Quốc lỗi bảo mật, các phương tiện quân sự bị tiết lộ vị trí</a></h3>
            </li>

            <li>

              <h3><a href="/cong-nghe/hon-80-ung-dung-gian-lan-am-tham-moc-tui-nguoi-dung-iphone-20220718143248812.htm" data-newstypetitle="0" data-newsid="20220718143248812" title="Hơn 80 ứng dụng gian lận âm thầm “móc túi” người dùng iPhone" class="sub-title">Hơn 80 ứng dụng gian lận âm thầm “móc túi” người dùng iPhone</a></h3>
            </li>

            <li>

              <h3><a href="/cong-nghe/xoa-song-2g-danh-tai-nguyen-cho-mang-moi-20220723201749472.htm" data-newstypetitle="0" data-newsid="20220723201749472" title="Xóa sóng 2G, dành tài nguyên cho mạng mới" class="sub-title">Xóa sóng 2G, dành tài nguyên cho mạng mới</a></h3>
            </li>

            <li>

              <h3><a href="/cong-nghe/facebook-bat-ngo-thay-doi-sap-tro-thanh-tiktok-thu-hai-20220722151435802.htm" data-newstypetitle="0" data-newsid="20220722151435802" title="Facebook bất ngờ thay đổi, sắp trở thành “TikTok thứ hai”" class="sub-title">Facebook bất ngờ thay đổi, sắp trở thành “TikTok thứ hai”</a></h3>
            </li>

            <li>

              <h3><a href="/cong-nghe/that-thoat-hang-trieu-usd-vi-vi-pham-ban-quyen-truc-tuyen-20220721130429812.htm" data-newstypetitle="0" data-newsid="20220721130429812" title="Thất thoát hàng triệu USD vì vi phạm bản quyền trực tuyến" class="sub-title">Thất thoát hàng triệu USD vì vi phạm bản quyền trực tuyến</a></h3>
            </li>

            <li>

              <h3><a href="/cong-nghe/samsung-bat-tay-microsoft-google-de-tang-cuong-bao-mat-cho-dien-thoai-20220719144649487.htm" data-newstypetitle="0" data-newsid="20220719144649487" title="Samsung “bắt tay” Microsoft, Google để tăng cường bảo mật cho điện thoại" class="sub-title">Samsung “bắt tay” Microsoft, Google để tăng cường bảo mật cho điện thoại</a></h3>
            </li>

            <li>

              <h3><a href="/cong-nghe/nguoi-dung-tre-nghien-tiktok-hon-youtube-20220716194453576.htm" data-newstypetitle="0" data-newsid="20220716194453576" title="Người dùng trẻ nghiện TikTok hơn YouTube" class="sub-title">Người dùng trẻ nghiện TikTok hơn YouTube</a></h3>
            </li>

            <li>

              <h3><a href="/cong-nghe/khach-hang-phan-nan-zoom-nang-cap-dich-vu-hoi-hop-2022072319420901.htm" data-newstypetitle="0" data-newsid="2022072319420901" title="Khách hàng phàn nàn, Zoom nâng cấp dịch vụ hội họp" class="sub-title">Khách hàng phàn nàn, Zoom nâng cấp dịch vụ hội họp</a></h3>
            </li>

            <li>

              <h3><a href="/cong-nghe/go-vuong-de-tang-toc-chuyen-doi-so-20220723201838803.htm" data-newstypetitle="0" data-newsid="20220723201838803" title="Gỡ vướng để tăng tốc chuyển đổi số" class="sub-title">Gỡ vướng để tăng tốc chuyển đổi số</a></h3>
            </li>


          </ul>
        </div>





      </div>



    </div>
    <div class="ads">




      <div class="broadcast box-tv mg_t10 clearfix">
        <h2><a href="https://tv.nld.com.vn/" title="Truyền hình" class="title" target="_blank" rel="nofollow">Truyền hình</a></h2>



        <div class="clearfix"></div>

        <div class="news-list"><div class="main-news"><a href="https://tv.nld.com.vn/thoi-su-trong-nuoc/93-gia-dinh-cong-nhan-o-tro-nhan-ho-tro-bep-am-cong-doan-16273.htm" title="93 gia đình công nhân ở trọ nhận hỗ trợ “Bếp ấm Công đoàn”"><img src="https://nld.mediacdn.vn/zoom/244_165/291774122806476800/2022/7/24/insta-1658637928205165974465.gif" alt="93 gia đình công nhân ở trọ nhận hỗ trợ “Bếp ấm Công đoàn”" title="93 gia đình công nhân ở trọ nhận hỗ trợ “Bếp ấm Công đoàn”" class="img259x146"></a><h3><a href="https://tv.nld.com.vn/thoi-su-trong-nuoc/93-gia-dinh-cong-nhan-o-tro-nhan-ho-tro-bep-am-cong-doan-16273.htm" title="93 gia đình công nhân ở trọ nhận hỗ trợ “Bếp ấm Công đoàn”" class="title">93 gia đình công nhân ở trọ nhận hỗ trợ “Bếp ấm Công đoàn”</a></h3></div>



        </div>
      </div>












        <div id="admWidePopup" style="position:fixed; right:0; bottom:0;">
        </div>


      <script>
        admicroAD.unit.push(function () {
          admicroAD.show('admzone2553')
        });
      </script>

    </div>
  </div>
  <div class="clearfix"></div>
</section>
