

 @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
}
 app-footer-mobile{
   display: none;
 }
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
}
.img216x133 {
  width: 216px;
  height: 133px;
}
 .fl {
   float: left;
 }

 .fr {
   float: right;
 }
 /** PC with min screen **/
 @media (min-width: 1024px) and (max-width: 1239px) {
   app-header-mobile {
     display: none;
   }
 }

 @media (max-width:1023px) {


 }
 /* Tablet */
 @media (min-width:740px)and (max-width:1023px) {
   app-header {
     display: none;
   }
   app-footer {
     display: none;
   }
   app-header-mobile{
     display: block;
   }
 }
 /* Mobile */
 @media (max-width:739px) {
  app-header {
    display: none;
  }

   app-header-mobile{
     display: block;
   }
   app-footer {
     display: none;
   }
   app-footer-mobile {
     display: block;
   }
 }
