<section class="body">
  <div class="body-content body-category">
    <div class="cate-left">
      <div class="sub-cate">
        <h1 class="title-cate">Trong nước</h1>
      </div>
      <div class="clearfix"></div>
      <div class="box-cate-focus">
        <ng-container *ngFor="let thoiSuItem of thoiSuResult.slice(0,1)">
        <div class="news-info">
          <h3>
            <a class="title" href="{{thoiSuItem.link}}" title="{{thoiSuItem.title}}">{{thoiSuItem.title}}</a>
          </h3>
          <p class="sapo">{{thoiSuItem.content.slice(thoiSuItem.content.search('">') + 2)}}</p>
        </div>
        <a class="img435x273" href="{{thoiSuItem.link}}">
          <img src="{{thoiSuItem.thumbnail}}"
               alt="{{thoiSuItem.title}}"
               title="{{thoiSuItem.title}}" class="img435x273">
        </a>
        </ng-container>
        <div class="clearfix"></div>
        <span class="separator"></span>
      </div>
      <div class="list-news-container">
        <div class="cate-list-news">
          <ul class="list-news clearfix" *ngFor="let thoiSuItem of thoiSuResult
           |paginate: {
                     itemsPerPage:5,
                     currentPage: page,
                     totalItems: totalLength
                     }
            ">
            <li class="news-item ">

              <a href=""

                 class="img220x139">
                <img src="{{thoiSuItem.thumbnail}}"
                     class="img220x139">
              </a>

              <div class="news-info">
                <h3><a href=""
                       title="{{thoiSuItem.title}}"
                       class="title">{{thoiSuItem.title}}</a></h3>
                <div class="clearfix"></div>


                <ul class="news-relate">

                  <li>
                    <a href=""
                       title="Thu phí không dừng cao tốc Liên Khương - Prenn vào ngày 1-8 tới"
                       class="title">{{thoiSuItem.description.slice(thoiSuItem.description.search('">')+2)}}</a>
                  </li>



                </ul>

              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
          <pagination-controls (pageChange)="page =$event" ></pagination-controls>
        </div>
        <div class="clearfix"></div>

      </div>
      <div class="list-box-container">
        <div class="box-news">
          <h2>
            <a class="title-cate" href="">Tin nổi bật</a>
            <span class="bg-right"></span>
          </h2>
          <div class="clearfix"></div>
          <ul class="list-news" >

            <li *ngFor="let thoiSuItem of thoiSuResult.slice(2,5) ;let i = index">

              <a href="" class="img216x133">
                <img src="{{thoiSuItem.thumbnail}}"
                     class="img216x133">
              </a>


              <h3><a href="" class="title">{{thoiSuItem.title}}</a>
              </h3>

            </li>

          </ul>
        </div>
      </div>
    </div>
      <app-right-catelory></app-right-catelory>
  </div>
  <div class="clearfix"></div>

</section>

