<section class="footer">
  <div class="top">
    <a href="/" title="BÁO NGƯỜI LAO ĐỘNG ĐIỆN TỬ" class="logo">
      <img src="https://static.mediacdn.vn/nld/web_images/logoMobNld.png" alt="BÁO NGƯỜI LAO ĐỘNG ĐIỆN TỬ" style="width: 165px;">

    </a>
    <p class="sologan">
      BÁO NGƯỜI LAO ĐỘNG ĐIỆN TỬ<br>
      CƠ QUAN CHỦ QUẢN: THÀNH ỦY THÀNH PHỐ HỒ CHÍ MINH
    </p>
  </div>
  <div class="clearfix"></div>
  <div class="left">
    <p>Tổng biên tập: <span>TÔ ĐÌNH TUÂN</span></p>
    <p>Phó Tổng biên tập: <span>DƯƠNG QUANG, BÙI THANH LIÊM</span></p>
    <p>Tổng Thư ký Tòa soạn: <span>LÊ CƯỜNG</span></p>
    <p>Giấy phép số 115/GP- BTTTT cấp ngày 09 tháng 02 năm 2021 của Bộ Thông tin và Truyền thông</p>
  </div>
  <div class="right">
    <p>
      Địa chỉ:<br>
      127 Võ Văn Tần, Phường Võ Thị Sáu, Quận 3 - TPHCM
    </p>
    <p>Điện thoại: <a href="tel:02839306262" title="84-28-3930.6262">84-28-3930.6262</a> - <a href="tel:02839303270" title="84-28-3930.3270">3930.3270</a></p>
    <p>Fax: 84-28-3930.4707</p>
    <p>Email: toasoan@nld.com.vn</p>
    <p>Hỗ trợ quảng cáo : <a href="tel:0942861133" title="0942.86.11.33">0942.86.11.33</a></p>
  </div>
  <div class="clearfix"></div>
  <p>Bản quyền thuộc về Báo Người Lao Động. Các website khác đã được chúng tôi đồng ý cho khai thác thông tin, khi đăng lại phải ghi rõ nguồn: Theo Báo Người Lao Động (www.nld.com.vn)</p>
  <a href="https://vccorp.vn/" rel="nofollow" target="_blank" class="runner"></a>

  <div class="footer-menu" style="display: block;">
    <ul class="footer-nav">
      <li class="item">
        <a href="/" title="Trang chủ" class="home active">Home
        </a>
      </li>
      <li class="item">
        <a href="/tin-xem-nhieu.htm" title="Xem nhiều" class="most-view ">Xem nhiều
        </a>
      </li>
      <li class="item">
        <a href="/tin-moi-nhat.htm" title="Tin nóng" class="hot-news ">Tin nóng
        </a>
      </li>
      <li class="item">
        <a href="https://tv.nld.com.vn/" title="Media" target="_blank" rel="nofollow" class="media ">Media
        </a>
      </li>
      <li class="item">
        <a href="/longform.htm" title="Emagazine" class="emagazine ">E-magazine
        </a>
      </li>
    </ul>
  </div>

</section>
