
.scroll-to-top {
  background: url(https://static.mediacdn.vn/nld/web_images/scrollTotop.png) -6px -3px no-repeat;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 33%;
  right: 15px;
  opacity: 0;
  display: none;
  transition: all .2s ease-in-out;
}
.scroll-to-top:hover {
  opacity: 1;
  cursor: pointer;
}
.show-scroll {
  opacity: 0.7;
  display: block;
}

