/*End1*/
/* End Body 1 */
/* Mobile and Tablet */
/* PC with min screen */
/* Tablet */
/* Mobile */
@keyframes cloudMovement {
  from {
    margin-left: -55px;
  }
  to {
    margin-left: 65px;
  }
}
.body {
  .body-content {

    width: 1160px;
    margin: 20px auto 0;
    text-decoration: none;
    .hot-news {

      .icon-hot-news {
        background-image: url(https://static.mediacdn.vn/nld/web_images/spritesV8.png);
        display: block;
        background-repeat: no-repeat;
        background-position: -129px -88px;
        width: 7px;
        height: 14px;
        float: left;
        margin-top: 2px;
        margin-right: 13px;
      }
      .hot-news-item {
        float: left;
        margin-left: 10px;
        a {
          padding: 7px 12px;
          color: #000;
          font-size: 14px;
          background-color: #f5f5f5;
          border-radius: 20px;
          line-height: 17px;
        }
      }
    }
    .box-content {
      width: 100%;
      display: flex;
      .box-left {
        width: 900px;
        float: left;
        .box-news-with-cate {
          margin-top: 20px;
          .box-news-list {
            width: 547px;
            .news-item {
              padding-right: 15px;
              padding-bottom: 10px;
              padding-top: 10px;
              border-top: 1px solid #f1f1f1;
              position: relative;
              a {
                img {
                  float: left;
                }
                display: block;
                float: left;
              }
              h3 {
                width: 310px;
                float: left;
                font-weight: 500;
              }
              a.title {
                color: #000;
                font-size: 18px;
                margin-left: 18px;
                margin-bottom: 10px;
                display: block;
                line-height: 22px;
                word-wrap: break-word;
              }
              .news-info {
                margin-left: 238px;
                .news-relate {
                  li {
                    a.title {
                      color: #454545;
                      font-size: 15px;
                      margin-left: 0;
                      margin-bottom: 7px;
                      padding-left: 6px;
                      position: relative;
                      &:before {
                        content: '';
                        background: #454545;
                        width: 6px;
                        height: 6px;
                        border-radius: 100%;
                        position: absolute;
                        left: -5px;
                        top: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
          .box-cate-list {
            float: right;
            width: 257px;
          }
          .box-cate {
            width: 258px;
            float: right;
            width: 258px;
            float: right;
            .box-cate-content {
              border: 1px solid rgba(116, 152, 189, .35);
              border-radius: 5px;
              border: 1px solid rgba(116, 152, 189, .35);
              border-radius: 5px;
              .news-item {
                background-image: linear-gradient(to top, transparent, rgba(240, 240, 240, .7));
                background-image: linear-gradient(to top, transparent, rgba(240, 240, 240, .7));
                padding: 22.85px 20px;
                h3 {
                  margin-bottom: 18px;
                  margin-top: 17px;
                  .title {
                    color: #000;
                    font: normal 18px/normal Roboto-Bold;
                  }
                }
              }
              .header-cate {
                padding: 12px 20px 0 20px;
                .title {
                  color: #808080;
                  font: normal 15px/normal Roboto-Bold;
                  float: left;
                  text-transform: uppercase;
                  position: relative;
                  padding-bottom: 10px;
                  &:after {
                    content: '';
                    width: 28px;
                    height: 2px;
                    background: #197ade;
                    display: block;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                  }
                }
                .view-tag {
                  color: #9d9d9d;
                  font: normal 13px/normal Roboto-Regular;
                  float: right;
                  margin-top: 4px;
                  font-style: italic;
                }
                .view-more {
                  color: #9d9d9d;
                  font: normal 13px/normal Roboto-Regular;
                  float: right;
                  margin-top: 4px;
                  font-style: italic;
                }
              }
            }
          }
          .box-cate.box-noithang {
            .box-cate-content {
              .header-cate {
                .title {
                  color: #147ade;
                  &:before {
                    content: '';
                    background-image: url(https://static.mediacdn.vn/nld/web_images/spritesV8.png);
                    display: block;
                    background-repeat: no-repeat;
                    background-position: -544px -78px;
                    width: 15px;
                    height: 15px;
                    float: left;
                    margin-top: 2px;
                    margin-right: 5px;
                  }
                }
              }
              .news-item {
                padding: 20px 20px 15px;
              }
            }
          }
          .box-cate.box-docquyen {
            .box-cate-content {
              .header-cate {
                .title {
                  &:before {
                    content: '';
                    background-image: url(https://static.mediacdn.vn/nld/web_images/spritesV8.png);
                    display: block;
                    background-repeat: no-repeat;
                    background-position: -548px -131px;
                    width: 7px;
                    height: 14px;
                    float: left;
                    margin-top: 2px;
                    margin-right: 7px;
                  }
                  color: #fff;
                  padding-bottom: 0;
                }
                .header-cate-content {
                  padding: 5px 10px;
                  background: #147ade;
                  position: relative;
                  border-radius: 5px;
                  margin-bottom: 8px;
                  &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 5.5px 0 5.5px;
                    border-color: #147ade transparent transparent transparent;
                    display: block;
                    position: absolute;
                    bottom: -5px;
                    left: 20px;
                  }
                }
                .view-more {
                  margin-top: 8px;
                }
              }
            }
          }
        }
        .box-news-with-cate.first {
          .box-news-list {
            .news-item {
              &:nth-child(2) {
                border-top: none;
                padding-top: 0;
              }
            }
          }
        }
        .box-cate-home.mg_t15 {
          margin-top: 15px;
        }
        .box-cate-home {
          width: 100%;
          margin-top: 30px;
          .box-cate-container {
            padding: 28px 20px 20px 18px;
            border-bottom: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-top: 6px solid #ddd;
            border-radius: 6px 6px 5px 5px;
            .box-cate-title {
              display: flex;
              align-items: center;
              h2 {
                float: left;
                color: #197ade;
                font-weight: 500;
                a {
                  font-size: 20px;
                  color: #197ade;
                  text-transform: uppercase;
                }
              }
              ul.sub-cate {
                margin-left: auto;
                margin-top: 8px;
                li {
                  list-style-type: none;
                  float: left;
                  margin: 0 15px;
                  a {
                    color: #000;
                    font-size: 13px;
                    line-height: 1.73;
                  }
                }
              }
            }
            .box-cate-detail {
              margin-top: 25px;
              display: flex;
              .news-left {
                float: left;
                .news-main {
                  width: 275px;
                  padding-right: 16px;
                  float: left;
                  h3 {
                    margin-top: 14px;
                    margin-bottom: 17px;
                    .title {
                      color: #1a1a1a;
                      font-size: 18px;
                      line-height: 1.41;
                      font-weight: 500;
                    }
                  }
                  .sapo {
                    color: #000;
                    font-size: 14px;
                    line-height: 1.5;
                  }
                }
                .sub-news {
                  float: right;
                  padding-left: 17px;
                  padding-right: 17px;
                  border-right: 1px dotted #ddd;
                  border-left: 1px dotted #ddd;
                  width: 271px;
                  height: 100%;
                  li {
                    &:first-child {
                      padding-top: 0;
                      border-top: none;
                    }
                    padding: 14px 0 18px;
                    border-top: 1px dotted #dbdbdb;
                    list-style-type: none;
                    a {
                      float: left;
                      img {
                        float: left;
                      }
                    }
                    h3 {
                      margin-left: 11px;
                      float: left;
                      width: 110px;
                      .title {
                        color: #000;
                        font-size: 13px;
                        line-height: 1.46;
                        font-weight: 400;
                      }
                    }
                  }
                }
              }
            }
            .news-right {
              float: right;
              width: 208px;
              padding-left: 18px;
              padding-right: 17px;
              .box-sub-cate {
                .title-cate {
                  color: #000;
                  font: normal 11px/normal Roboto-Bold;
                  line-height: 1.73;
                  display: block;
                  margin-bottom: 13px;
                  text-transform: uppercase;
                  position: relative;
                  top: -1.8px;
                  &:before {
                    width: 3px;
                    height: 14px;
                    float: left;
                    background: #e02b2b;
                    content: '';
                    margin-right: 14px;
                    margin-top: 1.8px;
                  }
                }
                .news-info {
                  position: relative;
                  top: -16px;
                  h3 {
                    .title {
                      display: block;
                      background: #fff;
                      padding: 13px 12px 11px 0;
                      width: 174px;
                      color: #000;
                      font: normal 15px/normal Roboto-Bold;
                      line-height: 1.29;
                    }
                  }
                  .sapo {
                    color: #000;
                    font: normal 12px/normal Roboto-Medium;
                    line-height: 1.42;
                    width: 200px;
                  }
                }
              }
            }
          }
        }
      }
      .box-right {
        width: 300px;
        float: right;
        margin-left: 30px;
        position: fixed;
        right: calc(50% - 640px);
        z-index: 100;
      }
    }
    .top-news {
      background: #fff;
      .main-news {
        width: 544px;
        background: transparent;
        float: left;
        img {
          width: 100%;
          display: block;
        }
        .gradient {
          background-image: linear-gradient(#ebebeb, rgba(235, 235, 235, 0));
          width: 544px;
        }
        .news-title {
          padding: 10px 10px 0;
          a {
            font-size: 26px;
            color: #000;
            line-height: 32px;
            font-family: Roboto-Bold;
          }
        }
        .sapo {
          padding-top: 10px;
          color: #000;
          font-size: 18px;
          line-height: 24px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .list-news-thumb {
        width: 257px;
        float: left;
        margin-left: 28px;
        margin-bottom: 20px;
        .tabs {
          border-radius: 5px 5px 5px 5px;
          .tab-item {
            float: left;
            padding: 7px 19.6px 7px;
            color: #000;
            font: 14px/20px Roboto-Regular;
            text-transform: uppercase;
            border-top: 4px solid #fff;
            border-radius: 4px 4px 0 0;
            &:first-child {
              position: relative;
            }
            &:first-child.active {
              border-top-color: #0959ab;
              color: #000;
              font: normal 14px/normal Roboto-Bold;
              &:before {
                content: '';
                width: 1px;
                background-color: #e9e9e9;
                height: 31px;
                position: absolute;
                display: block;
                left: 0;
                top: 0;
              }
            }
            &:last-child {
              position: relative;
            }
          }
          .line-middle {
            position: relative;
            float: left;
            &:after {
              content: ' ';
              background-image: url(https://static.mediacdn.vn/nld/web_images/spritesV8.png);
              display: block;
              background-repeat: no-repeat;
              background-position: -93px -87px;
              width: 17px;
              height: 31px;
              position: absolute;
              left: 0;
              top: 2px;
            }
          }
        }
        .tab-content {
          border: 1px solid #e9e9e9;
          border-top: none;
          height: 440px;
          overflow: hidden;
          border-radius: 0 0 5px 5px;
          touch-action: none;
          .tab-content-newest {
            padding: 18px 0;
          }
          .slimScrollBar {
            width: 4px !important;
            background-color: #cbcbcb !important;
            opacity: .33 !important;
            border-radius: 2px !important;
            right: 7px !important;
          }
          .tab-content-view {
            display: none;
            padding: 18px 0;
          }
        }
        .item-news-thumb {
          padding: 8px 0;
          margin-left: 34px;
          margin-right: 20px;
          border-bottom: 1px dotted #ebebeb;
          &:first-child {
            padding-top: 0;
          }
          &:last-child {
            border-bottom: none;
          }
          .news-thumb-title {
            a {
              color: #000;
              font: normal 14px/normal Roboto-Bold;
              line-height: 20px;
              position: relative;
              &:before {
                content: '';
                background-image: url(https://static.mediacdn.vn/nld/web_images/spritesV8.png);
                display: block;
                background-repeat: no-repeat;
                background-position: -117px -90px;
                width: 7px;
                height: 7px;
                position: absolute;
                top: 5px;
                left: -15px;
              }
            }
          }
        }
      }
    }
    .news-horizontal {
      width: 100%;
      margin-top: 20px;
      .news-horizontal-item {
        width: 196px;
        float: left;
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
        &:nth-child(2) {
          margin-left: 0;
        }
        a {
          display: block;
        }
        img {
          width: 100%;
          display: block;
        }
        .news-horizontal-title {
          margin-top: 13px;
          a {
            color: #000;
            font: normal 15px/normal Roboto-Bold;
          }
        }
      }
    }
  }
}
.logo-text {
  margin-top: 2px;
  color: #000;
  font-size: 20px;
}
.mg_t22 {
  margin-top: 22px;
}
.img544x340 {
  width: 544px;
  height: 340px;
}
.img203x127 {
  width: 196px;
  height: 127px;
}
.img220x139 {
  width: 220px;
  height: 139px;
}
ul {
  list-style-type: none;
}
.boxvietlott {
  margin-bottom: 24px;
  margin-bottom: 6px;
}
.mg_t10 {
  margin-top: 10px;
  margin-top: 10px;
}
.img216x133 {
  width: 216px;
  height: 133px;
}
.mg_t15 {
  margin-top: 15px;
}
.img256x160 {
  width: 256px;
  height: 160px;
}
.img114x71 {
  width: 114px;
  height: 71px;
}
.box-covid-vaccine {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #1f90fa;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  width: 230px;
  box-sizing: border-box;
}
.box-covid-vaccine-banner {
  background: #1f90fa;
  color: #fff;
  padding: 0 10px;
  border-radius: 10px 10px 0 10px;
  text-transform: uppercase;
  font-family: 'Roboto-Bold';
  font-size: 19px;
}
.bcvb-title {
  margin-left: 26px;
  border-left: 2px solid #fff;
  padding: 10px 0 10px 10px;
}
.box-covid-vaccine-content {
  margin-top: 4px;
  font-family: 'Roboto-Bold';
  color: #1d90fa;
  text-transform: uppercase;
}
.bcvc-item {
  display: flex;
  ul {
    li {
      &:first-child {
        justify-content: center;
        justify-content: center;
      }
      margin-top: 8px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;
    }
    width: 100%;
    margin: 0 6px;
  }
  .bcvc-item-title {
    width: 208px;
    box-sizing: border-box;
    text-align: justify;
  }
}
.bcvci-left {
  background: #1d90fa;
  color: #fff;
  padding: 8px 4px;
  border-radius: 4px;
  font-size: 12px;
  text-transform: initial;
  font-family: 'Roboto-Regular';
  margin-right: 4px;
}
.bcvci-right {
  font-size: 12px;
  text-transform: initial;
  color: #747474;
  line-height: 1.4;
}
.box-covid-vaccine-top {
  .bcvc-item {
    ul {
      margin: 0;
      li {
        justify-content: center;
      }
    }
    .bcvc-item-title {
      color: #cf292b;
    }
  }
  .bcvci-left {
    font-size: 13px;
    font-family: 'Roboto-Medium';
    background: #a91718;
  }
}
.box-covid-vaccine-bottom {
  position: relative;
  margin-top: 18px;
  margin-bottom: 18px;
}
.bcvb-left {
  font-size: 10px;
  color: #959595;
  width: 153px;
  span {
    font-size: 5px;
    display: block;
    margin-top: 4px;
  }
}
.bcvb-right {
  position: absolute;
  right: -10px;
  bottom: -25px;
  img {
    width: 80px;
  }
}
.clearboth {
  clear: both;
}
.img208x130 {
  width: 208px;
  height: 130px;
}
.weatherWidgetRow {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
.sun {
  margin-top: 10px;
  color: yellow;
  filter: drop-shadow( 1px 1px 10px yellow);
}
.moon {
  margin-top: 10px;
  color: white;
  filter: drop-shadow( 1px 1px 10px white);
}
.cloudDiv {
  margin-top: -40px;
}
.cloud {
  color: rgb(104, 175, 197);
  filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@media (max-width: 1023px) {
  .box-right {
    display: none;
    display: none;
  }
  .hot-news {
    display: none;
  }
  .list-news-thumb {
    display: none;
    display: none;
  }
  .box-cate-list {
    display: none;
  }
  .news-right {
    display: none;
  }
  .news-horizontal {
    display: none;
  }
  .body {
    .body-content {
      .top-news {
        .main-news {
          width: 100%;
          .gradient {
            width: 100%;
          }
        }
      }
      width: 100%;
      .box-content {
        .box-left {
          .box-news-with-cate {
            .box-news-list {
              width: 100%;
            }
            .fl {
              float: unset !important;
            }
          }
          .box-cate-home {
            .box-cate-container {
              .box-cate-title {
                ul.sub-cate {
                  display: none;
                }
              }
              .box-cate-detail {
                .news-left {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .img544x340 {
    width: 100%;
    height: auto;
  }
  .body {
    .body-content {
      .top-news {
        .main-news {
          .sapo {
            font-size: 24px;
            width: 100%;
            line-height: 38px;
          }
        }
      }
      .box-content {
        .box-left {
          .box-news-with-cate {
            .box-news-list {
              .news-item {
                h3 {
                  font-size: 20px;
                  width: 60%;
                }
                a.title {
                  width: 100%;
                  font-size: 20px;
                  line-height: 24px;
                }
                .news-info {
                  .news-relate {
                    li {
                      a.title {
                        font-size: 18px;
                      }
                    }
                  }
                }
              }
            }
          }
          .box-cate-home {
            .box-cate-container {
              .box-cate-detail {
                .news-left {
                  .sub-news {
                    float: left;
                    width: calc(100% - 300px);
                    li {
                      h3 {
                        a {
                          font-size: 18px;
                        }
                        width: 180px;
                        .title {
                          font-size: 16px;
                          font-weight: 500;
                        }
                      }
                      display: flex;
                    }
                  }
                  .news-main {
                    h3 {
                      .title {
                        font-size: 20px;
                        font-weight: 500;
                      }
                    }
                    .sapo {
                      font-size: 16px;
                    }
                    width: 300px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .img114x71 {
    height: 100px;
    width: unset;
  }
}
@media (max-width: 739px) {
  .body {
    .body-content {
      .box-content {
        .box-left {
          width: 100%;
          .box-news-with-cate {
            .box-news-list {
              .news-item {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                h3 {
                  width: 100%;
                }
                .news-info {
                  margin-left: 10px;
                }
                a.title {
                  &:before {
                    display: none;
                  }
                }
              }
            }
          }
          .box-cate-home {
            .box-cate-container {
              .box-cate-detail {
                .news-left {
                  .news-main {
                    width: 100%;
                  }
                  .sub-news {
                    display: flex;
                    flex-direction: column;
                    float: left;
                    padding-left: 0;
                    border: none;
                    padding-top: 10px;
                    width: 100%;
                    margin-top: 12px;
                    li {
                      h3 {
                        width: 180px;
                        a.title {
                          font-size: 13px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .img544x340 {
    width: 100%;
    height: auto;
  }
  .img220x139 {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
  .img256x160 {
    width: 100%;
    height: auto;
  }

}

