<section class="body">
  <div class="body-content">
    <div class="logo-text fl">
      <div id="divWeatherMain">
        <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
          <fa-icon class="sun" [icon]="faSun"></fa-icon>
        </div>
        <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
          <fa-icon class="moon" [icon]="faMoon"></fa-icon>
        </div>
        <div class="weatherWidgetRow cloudDiv">
          <fa-icon class="cloud" [icon]="faCloud"></fa-icon>
        </div>
        <div class="weatherWidgetRow" style="font-size: 28px;margin-top: 10px;">{{WeatherData.temp_celcius}}°</div>
        <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;"></div>
        {{todayString}}, {{WeatherData.name}}
      </div>
    </div>

    <div class="hot-news fr clearfix">
      <div class="icon-hot-news"></div>

      <div class="hot-news-item">
        <a routerLink="/" title="Xung đột Nga - Ukraine"># Xung đột Nga -
          Ukraine</a>
      </div>

      <div class="hot-news-item">
        <a routerLink="/" title="Kit xét nghiệm Công ty Việt Á"># Kit xét
          nghiệm Công ty Việt Á</a>
      </div>

      <div class="hot-news-item">
        <a routerLink="/" title="Diễn biến dịch Covid-19"># Diễn biến dịch
          Covid-19</a>
      </div>

    </div>
    <div class="clearfix"></div>
    <div class="box-content clearfix">
      <div class="box-left">
        <div class="top-news clearfix">
          <div class="main-news">
            <ng-container *ngFor="let latestItem of latestNewsResult.slice(0,1)">
              <div class="top1-focus">
                <a routerLink="/detail/{{replaceAll(latestItem.link,'/','?')}}"
                   title="{{latestItem.title}}"
                   class="img544x340">

                  <img
                    src="{{latestItem.thumbnail }}"
                    alt="{{latestItem.title}}"
                    class="img544x340">

                </a>


                <div class="gradient">
                  <h3 class="news-title">
                  </h3>
                  <p class="sapo">
                    {{latestItem.content.slice(latestItem.content.search('">') + 2)}}
                  </p>


                </div>

              </div>
            </ng-container>

          </div>
          <div class="list-news-thumb">

            <div class="tabs clearfix">
              <a routerLink="/" title="Tin nóng" class="tab-item active"
                 data-id="content-newest">Tin nóng</a>
              <span class="line-middle"></span>

            </div>
            <div class="tab-content" style="height: unset; overflow: unset;">


              <div class="tab-content-newest active" id="content-newest" style="display: block;">
                <div class="slimScrollDiv"
                     style="position: relative; overflow: hidden; width: auto; height: 424px;">
                  <div class="scroll" style="overflow: auto; width: auto; height: 424px;">

                    <div class="item-news-thumb" *ngFor="let lastedNews of latestNewsResult">
                      <div class="news-thumb-title">
                        <a routerLink="/detail/{{replaceAll(lastedNews.link,'/','?')}}"
                           title="{{lastedNews.title}}"
                        >{{lastedNews.title}}</a>
                      </div>
                    </div>


                  </div>

                </div>
              </div>


            </div>
          </div>
          <div class="news-horizontal  clearfix">
            <div class="news-horizontal-item " *ngFor="let lastedNews of latestNewsResult; let i = index ;">

              <div *ngIf="i <= 4 && i!=0">
                <a routerLink="/detail/{{replaceAll(lastedNews.link,'/','?')}}"
                   title="{{lastedNews.title}}"
                   class="img203x127" data-newstype="0">

                  <img
                    src="{{lastedNews.thumbnail}}"
                    alt="{{lastedNews.title}}"
                    class="img203x127">

                </a>

                <div class="news-horizontal-title">
                  <a routerLink="/detail/{{replaceAll(lastedNews.link,'/','?')}}"
                     title="{{lastedNews.title}}">
                    {{lastedNews.title}}
                  </a>
                </div>
              </div>


            </div>


          </div>
        </div>
      </div>
      <div class="box-right">
        <app-right-catelory></app-right-catelory>
      </div>
    </div>
    <div class="box-content mg_t22 clearfix">
      <div class="box-left">
        <div class="box-news-with-cate">
          <div class="fl">
            <div>


              <div class="box-news-list">

                <div>

                </div>

                <div class="news-item " *ngFor="let lastedNews of latestNewsResult.slice(1,5);let i =index">

                  <a
                    routerLink="/detail/{{replaceAll(lastedNews.link,'/','?')}}"
                    title="{{lastedNews.title}}"
                    class="img220x139" data-newstype="0">

                    <img
                      src="{{lastedNews.thumbnail}}"
                      alt="{{lastedNews.title}}"
                      class="img220x139">
                  </a>

                  <h3><a class="title"
                         routerLink="/detail/{{replaceAll(lastedNews.link,'/','?')}}"
                         title="{{lastedNews.title}}">{{lastedNews.title}}</a></h3>
                  <div class="news-info">
                    <ul class="news-relate">

                      <li>
                        <a routerLink="/detail/{{replaceAll(lastedNews.link,'/','?')}}"
                           title="{{lastedNews.title}}"
                           class="title">{{lastedNews.content.slice(lastedNews.content.search('">') + 2)}}</a>
                      </li>


                    </ul>

                  </div>

                  <div class="clearfix"></div>
                </div>


              </div>

            </div>
            <div class="clearfix"></div>
            <div id="Multimedia"></div>
          </div>
          <div class="box-cate-list">
            <div class="box-cate box-noithang">
              <div class="box-cate-content">
                <div class="header-cate clearfix">
                  <a routerLink="" title="Nói thẳng" class="title">Nói thẳng</a>
                  <a routerLink="" title="Xem tất cả" class="view-more">Xem tất cả</a>
                </div>
                <ng-container *ngFor="let noiThangItem of noiThangResult.slice(0,1)">
                  <div class="news-item">

                    <a routerLink="/detail/{{replaceAll(noiThangItem.link,'/','?')}}"
                       title="{{noiThangItem.title}}" class="img216x133"
                    >

                      <img
                        src="{{noiThangItem.thumbnail}}"
                        alt="Thu phí ôtô &quot;không đặt nặng lời, lỗ&quot;: Khó nghe quá!" class="img216x133">

                    </a>

                    <h3 style="margin-bottom: 0px;"><a routerLink="/" class="title"
                                                       title="{{noiThangItem.title}}">{{noiThangItem.title}}</a>
                    </h3>
                    <div class="news-info clearfix">
                      <div class="icon-views" style="display: none;"></div>
                      <div class="number-views get-views" style="display: none;"><span>0</span> người quan tâm</div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="box-cate box-docquyen mg_t10">
              <div class="box-cate-content">
                <div class="header-cate clearfix">
                  <div class="header-cate-content fl">
                    <a routerLink="/tin-doc-quyen" title="Tin độc quyền" class="title">Tin độc quyền</a>
                  </div>

                  <a routerLink="/tin-doc-quyen" title="Xem tất cả" class="view-more">Xem tất cả</a>
                </div>

                <div class="news-item">
                  <ng-container *ngFor="let docQuyenItem of docQuyenResult.slice(0,1)">
                    <a routerLink="/detail/{{replaceAll(docQuyenItem.link,'/','?')}}" title="{{docQuyenItem.title}}"
                       class="img216x133">

                      <img
                        src="{{docQuyenItem.thumbnail }}"
                        alt="3 người chết trong xử lý vụ cháy công ty ở KCN Sóng Thần 1" class="img216x133">
                    </a>

                    <h3 style="margin-bottom: 0px;"><a routerLink="/detail/{{replaceAll(docQuyenItem.link,'/','?')}}"
                                                       class="title"
                                                       title="{{docQuyenItem.title}}">{{docQuyenItem.title}}</a></h3>
                  </ng-container>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="box-cate-home mg_t15 clearfix box-cate-domestic">
          <div class="box-cate-container">
            <div class="box-cate-title">

              <h2><a routerLink="/trong-nuoc" title="Trong nước" class="title">TRONG NƯỚC</a></h2>
              <ul class="sub-cate">

                <li>
                  <a routerLink="/" title="Chính trị">Chính trị</a>
                </li>

                <li>
                  <a routerLink="/" title="Xã hội">Xã hội</a>
                </li>

                <li>
                  <a routerLink="/" title="Miền Tây">Miền Tây</a>
                </li>

                <li>
                  <a routerLink="/"
                     title="Miền Trung - Tây Nguyên">Miền Trung - Tây Nguyên</a>
                </li>

                <li>
                  <a routerLink="/trong-nuoc" title="Hà Nội">Hà Nội</a>
                </li>

                <li>
                  <a routerLink="/trong-nuoc" title="Phóng sự - Bút ký">Phóng sự - Bút
                    ký</a>
                </li>


                <li>
                  <a routerLink="/trong-nuoc" title="Biển đảo">Biển đảo</a>
                </li>


              </ul>
            </div>
            <div class="clearfix"></div>

            <div class="box-cate-detail">

              <div class="news-left">

                <div class="news-main ">
                  <ng-container *ngFor="let thoiSuItem of thoiSuResult.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(thoiSuItem.link,'/','?')}}"
                       title="{{thoiSuItem.title}}"
                    >

                      <img
                        src="{{thoiSuItem.thumbnail }}"
                        alt="{{thoiSuItem.title}}"
                        class="img256x160">
                    </a>
                    <h3 class="">
                      <a routerLink="/detail/{{replaceAll(thoiSuItem.link,'/','?')}}"

                         title="{{thoiSuItem.title}}"
                         class="title">
                        {{thoiSuItem.title}}
                      </a>
                    </h3>
                    <p class="sapo"> {{thoiSuItem.content.slice(thoiSuItem.content.search('">') + 2)}}</p>
                  </ng-container>
                </div>

                <ul class="sub-news">
                  <ng-container *ngFor="let thoiSuItem of thoiSuResult.slice(1,5); let i =index">
                    <li class="clearfix" *ngIf="i>0">

                      <a routerLink="/detail/{{replaceAll(thoiSuItem.link,'/','?')}}"
                         title="{{thoiSuItem.title}}" class="img114x71">

                        <img
                          src="{{thoiSuItem.thumbnail }}"
                          alt="{{thoiSuItem.title}}"
                          class="img114x71">
                      </a>

                      <h3 class=""><a
                        routerLink="/detail/{{replaceAll(thoiSuItem.link,'/','?')}}"
                        title="{{thoiSuItem.title}}"
                        class="title">{{thoiSuItem.title}}</a></h3>
                    </li>
                  </ng-container>
                </ul>

              </div>

              <div class="news-right">
                <div class="box-covid-vaccine">
                  <div class="box-covid-vaccine-banner">
                    <div class="bcvb-title">
                      Tiêm vắc-xin ngừa covid-19
                    </div>
                  </div>

                  <div class="box-covid-vaccine-content">
                    <div class="bcvc-item">
                      <ul>
                        <li>
                          <span>Số liều tiêm</span>
                        </li>
                        <li>
                          <span class="bcvci-left">Người từ 18 tuổi trở lên</span>
                          <span class="bcvci-right">205.411.924 liều: Mũi 1 là 71.500.915
                                                            liều; Mũi 2 là 68.867.849 liều; Mũi 3 là 1.509.495 liều; Mũi
                                                            bổ sung là 14.834.995 liều; Mũi nhắc lại lần 1 là 44.867.465
                                                            liều; Mũi nhắc lại lần 2 là 3.831.205 liều</span>
                        </li>
                        <li>
                          <span class="bcvci-left">Trẻ từ 12 đến 17 tuổi</span>
                          <span class="bcvci-right">18.241.615 liều: Mũi 1 là 8.989.618
                                                            liều; Mũi 2 là 8.624.860 liều; Mũi nhắc lại lần 1 là 627.137
                                                            liều</span>
                        </li>
                        <li>
                          <span class="bcvci-left">Trẻ từ 5 đến 11 tuổi</span>
                          <span class="bcvci-right">7.807.540 liều: Mũi 1 là 5.817.745
                                                            liều; Mũi 2 là 1.989.795 liều</span>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="box-covid-vaccine-bottom">
                    <div class="bcvb-left">
                      Cập nhật 28-6-2022
                      <span>Dân số Việt Nam 96,5 triệu người, theo báo cáo tổng<br>
                                                    điều tra dân số &amp; nhà ở năm 2019 của Tổng cục Thống kê
                                                </span>
                    </div>
                    <div class="bcvb-right">
                      <img src="https://static.mediacdn.vn/nld/Images/solieucovid19-3.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
        <div class="box-cate-home mg_t15 clearfix">
          <div class="box-cate-container">
            <div class="box-cate-title">
              <h2><a routerLink="/trong-nuoc" title="Quốc tế" class="title">Quốc tế</a></h2>
              <ul class="sub-cate">

                <li>
                  <a routerLink="/thoi-su-quoc-te" title="Tin hay, ảnh lạ">Tin hay, ảnh lạ</a>
                </li>

                <li>
                  <a routerLink="/thoi-su-quoc-te" title="Vấn đề nóng">Vấn đề nóng</a>
                </li>

                <li>
                  <a routerLink="/thoi-su-quoc-te" title="Hồ sơ">Hồ sơ</a>
                </li>

                <li>
                  <a routerLink="/thoi-su-quoc-te" title="Video clip">Video clip</a>
                </li>


              </ul>
            </div>
            <div class="clearfix"></div>

            <div class="box-cate-detail">

              <div class="news-left">

                <div class="news-main ">
                  <ng-container *ngFor="let thoiSuItem of thoiSuQuocTeResult.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(thoiSuItem.link,'/','?')}}"
                       title="{{thoiSuItem.title}}"
                       data-newstype="0" class="img256x160">

                      <img
                        src="{{thoiSuItem.thumbnail}}"
                        alt="{{thoiSuItem.title}}"
                        class="img256x160">
                    </a>
                    <h3 class="">
                      <a routerLink="/detail/{{replaceAll(thoiSuItem.link,'/','?')}}"

                         title="{{thoiSuItem.title}}"
                         class="title">
                        {{thoiSuItem.title}}
                      </a>
                    </h3>
                    <p class="sapo"> {{thoiSuItem.content.slice(thoiSuItem.content.search('">') + 2)}}</p>
                  </ng-container>
                </div>

                <ul class="sub-news">
                  <ng-container *ngFor="let thoiSuItem of thoiSuQuocTeResult.slice(1,5); let i =index">
                    <li class="clearfix" *ngIf="i>0">

                      <a routerLink="/detail/{{replaceAll(thoiSuItem.link,'/','?')}}"
                         title="{{thoiSuItem.title}}" class="img114x71">

                        <img
                          src="{{thoiSuItem.thumbnail}}"
                          alt="{{thoiSuItem.title}}"
                          class="img114x71">
                      </a>

                      <h3 class=""><a
                        routerLink="/detail/{{replaceAll(thoiSuItem.link,'/','?')}}"
                        title="{{thoiSuItem.title}}"
                        class="title">{{thoiSuItem.title}}</a></h3>
                    </li>
                  </ng-container>
                </ul>

              </div>

              <div class="news-right">
                <div class="box-sub-cate">
                  <a routerLink="/ban-doc" title="Dư luận" class="title-cate">Dư luận</a>


                  <ng-container *ngFor="let thoiSuItem of thoiSuQuocTeResult.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(thoiSuItem.link,'/','?')}}">

                      <img
                        src="{{thoiSuItem.thumbnail }}"
                        alt="{{thoiSuItem.title}}" class="img208x130">
                    </a>

                    <div class="news-info">
                      <h3><a routerLink="/detail/{{replaceAll(thoiSuItem.link,'/','?')}}"
                             title="{{thoiSuItem.title}}" class="title">{{thoiSuItem.title}}</a></h3>


                      <p class="sapo">
                        {{thoiSuItem.content.slice(thoiSuItem.content.search('">') + 2)}}
                      </p>

                    </div>

                  </ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
        <div class="box-cate-home mg_t15 clearfix">
          <div class="box-cate-container">
            <div class="box-cate-title">
              <h2><a routerLink="/cong-doan" title="Công đoàn" class="title">Công đoàn</a></h2>
              <ul class="sub-cate">

                <li>
                  <a routerLink="/cong-doan" title="Đời sống công nhân">Đời sống công nhân</a>
                </li>

                <li>
                  <a routerLink="/cong-doan" title="Đối thoại">Đối thoại</a>
                </li>

              </ul>
            </div>
            <div class="clearfix"></div>

            <div class="box-cate-detail">

              <div class="news-left">

                <div class="news-main ">
                  <ng-container *ngFor="let newsItems of congDoanResult.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                       title="{{newsItems.title}}"
                       data-newstype="0" class="img256x160">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}"
                        class="img256x160">
                    </a>
                    <h3 class="">
                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"

                         title="{{newsItems.title}}"
                         class="title">
                        {{newsItems.title}}
                      </a>
                    </h3>
                    <p class="sapo"> {{newsItems.content.slice(newsItems.content.search('">') + 2)}}</p>
                  </ng-container>
                </div>

                <ul class="sub-news">
                  <ng-container *ngFor="let newsItems of congDoanResult.slice(1,5); let i =index">
                    <li class="clearfix" *ngIf="i>0">

                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                         title="{{newsItems.title}}" class="img114x71">

                        <img src="{{newsItems.thumbnail }}"
                             alt="{{newsItems.title}}"
                             class="img114x71">
                      </a>

                      <h3 class=""><a
                        routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                        title="{{newsItems.title}}"
                        class="title">{{newsItems.title}}</a></h3>
                    </li>
                  </ng-container>
                </ul>

              </div>

              <div class="news-right">
                <div class="box-sub-cate">
                  <a routerLink="/ban-doc" title="Dư luận" class="title-cate">Chính sách</a>


                  <ng-container *ngFor="let newsItems of congDoanResult.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}" class="img208x130">
                    </a>

                    <div class="news-info">
                      <h3><a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                             title="{{newsItems.title}}" class="title">{{newsItems.title}}</a></h3>


                      <p class="sapo">
                        {{newsItems.content.slice(newsItems.content.search('">') + 2)}}
                      </p>

                    </div>

                  </ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
        <div class="box-cate-home mg_t15 clearfix">
          <div class="box-cate-container">
            <div class="box-cate-title">
              <h2><a routerLink="/ban-doc" title="BẠN ĐỌC" class="title">BẠN ĐỌC</a></h2>
              <ul class="sub-cate">

                <li>
                  <a routerLink="/ban-doc" title="Cuộc sống nhân ái">Cuộc sống nhân ái</a>
                </li>

                <li>
                  <a routerLink="/ban-doc" title="Tôi lên tiếng">Tôi lên tiếng</a>
                </li>

                <li>
                  <a routerLink="/ban-doc" title="Nét đẹp đời thường">Nét đẹp đời thường</a>
                </li>

                <li>
                  <a routerLink="/ban-doc" title="Góc ảnh bạn đọc">Góc ảnh bạn đọc</a>
                </li>


              </ul>
            </div>
            <div class="clearfix"></div>

            <div class="box-cate-detail">

              <div class="news-left">

                <div class="news-main ">
                  <ng-container *ngFor="let newsItems of banDocReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                       title="{{newsItems.title}}"
                       data-newstype="0" class="img256x160">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}"
                        class="img256x160">
                    </a>
                    <h3 class="">
                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"

                         title="{{newsItems.title}}"
                         class="title">
                        {{newsItems.title}}
                      </a>
                    </h3>
                    <p class="sapo"> {{newsItems.content.slice(newsItems.content.search('">') + 2)}}</p>
                  </ng-container>
                </div>

                <ul class="sub-news">
                  <ng-container *ngFor="let newsItems of banDocReuslt.slice(1,5); let i =index">
                    <li class="clearfix" *ngIf="i>0">

                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                         title="{{newsItems.title}}" class="img114x71">

                        <img src="{{newsItems.thumbnail }}"
                             alt="{{newsItems.title}}"
                             class="img114x71">
                      </a>

                      <h3 class=""><a
                        routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                        title="{{newsItems.title}}"
                        class="title">{{newsItems.title}}</a></h3>
                    </li>
                  </ng-container>
                </ul>

              </div>

              <div class="news-right">
                <div class="box-sub-cate">
                  <a routerLink="/ban-doc" title="Dư luận" class="title-cate">Dư luận</a>


                  <ng-container *ngFor="let newsItems of banDocReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}" class="img208x130">
                    </a>

                    <div class="news-info">
                      <h3><a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                             title="{{newsItems.title}}" class="title">{{newsItems.title}}</a></h3>


                      <p class="sapo">
                        {{newsItems.content.slice(newsItems.content.search('">') + 2)}}
                      </p>

                    </div>

                  </ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
        <div class="box-cate-home mg_t15 clearfix">
          <div class="box-cate-container">
            <div class="box-cate-title">
              <h2><a routerLink="/kinh-te" title="KINH TẾ" class="title">KINH TẾ</a></h2>
              <ul class="sub-cate">

                <li>
                  <a routerLink="/kinh-te" title="Doanh nghiệp">Doanh nghiệp</a>
                </li>

                <li>
                  <a routerLink="/kinh-te" title="Chuyện quản lý">Chuyện quản lý</a>
                </li>

                <li>
                  <a routerLink="/kinh-te" title="Tiêu dùng">Tiêu dùng</a>
                </li>

                <li>
                  <a routerLink="/kinh-te" title="Ôtô - Xe - Điện máy">Ôtô - Xe - Điện máy</a>
                </li>


              </ul>
            </div>
            <div class="clearfix"></div>

            <div class="box-cate-detail">

              <div class="news-left">

                <div class="news-main ">
                  <ng-container *ngFor="let newsItems of kinhTeReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                       title="{{newsItems.title}}"
                       data-newstype="0" class="img256x160">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}"
                        class="img256x160">
                    </a>
                    <h3 class="">
                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"

                         title="{{newsItems.title}}"
                         class="title">
                        {{newsItems.title}}
                      </a>
                    </h3>
                    <p class="sapo"> {{newsItems.content.slice(newsItems.content.search('">') + 2)}}</p>
                  </ng-container>
                </div>

                <ul class="sub-news">
                  <ng-container *ngFor="let newsItems of kinhTeReuslt.slice(1,5); let i =index">
                    <li class="clearfix" *ngIf="i>0">

                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                         title="{{newsItems.title}}" class="img114x71">

                        <img src="{{newsItems.thumbnail }}"
                             alt="{{newsItems.title}}"
                             class="img114x71">
                      </a>

                      <h3 class=""><a
                        routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                        title="{{newsItems.title}}"
                        class="title">{{newsItems.title}}</a></h3>
                    </li>
                  </ng-container>
                </ul>

              </div>

              <div class="news-right">
                <div class="box-sub-cate">
                  <a routerLink="/dia-oc" title="Dư luận" class="title-cate">Tài chính - Địa ốc</a>


                  <ng-container *ngFor="let newsItems of kinhTeReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                    >

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}" class="img208x130">
                    </a>

                    <div class="news-info">
                      <h3><a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                             title="{{newsItems.title}}" class="title">{{newsItems.title}}</a></h3>


                      <p class="sapo">
                        {{newsItems.content.slice(newsItems.content.search('">') + 2)}}
                      </p>

                    </div>

                  </ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="box-cate-home mg_t15 clearfix">
          <div class="box-cate-container">
            <div class="box-cate-title">
              <h2><a routerLink="/suc-khoe" title="SỨC KHỎE" class="title">SỨC KHỎE</a></h2>
              <ul class="sub-cate">

                <li>
                  <a routerLink="/suc-khoe"title="Chuyển động y học">Chuyển động y học</a>
                </li>

                <li>
                  <a routerLink="/suc-khoe" title="Giới tính">Giới tính</a>
                </li>

                <li>
                  <a routerLink="/suc-khoe" title="Phòng mạch Covid-19">Phòng mạch Covid-19</a>
                </li>

                <li>
                  <a routerLink="/suc-khoe" title="Thuốc &amp; Dinh dưỡng">Thuốc &amp; Dinh dưỡng</a>
                </li>


              </ul>
            </div>
            <div class="clearfix"></div>

            <div class="box-cate-detail">

              <div class="news-left">

                <div class="news-main ">
                  <ng-container *ngFor="let newsItems of sucKhoeReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                       title="{{newsItems.title}}"
                       data-newstype="0" class="img256x160">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}"
                        class="img256x160">
                    </a>
                    <h3 class="">
                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"

                         title="{{newsItems.title}}"
                         class="title">
                        {{newsItems.title}}
                      </a>
                    </h3>
                    <p class="sapo"> {{newsItems.content.slice(newsItems.content.search('">') + 2)}}</p>
                  </ng-container>
                </div>

                <ul class="sub-news">
                  <ng-container *ngFor="let newsItems of sucKhoeReuslt.slice(1,5); let i =index">
                    <li class="clearfix" *ngIf="i>0">

                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                         title="{{newsItems.title}}" class="img114x71">

                        <img src="{{newsItems.thumbnail }}"
                             alt="{{newsItems.title}}"
                             class="img114x71">
                      </a>

                      <h3 class=""><a
                        routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                        title="{{newsItems.title}}"
                        class="title">{{newsItems.title}}</a></h3>
                    </li>
                  </ng-container>
                </ul>

              </div>

              <div class="news-right">
                <div class="box-sub-cate">
                  <a routerLink="/suc-khoe" title="Sức khỏe" class="title-cate">BÁC SĨ CỦA BẠN</a>


                  <ng-container *ngFor="let newsItems of sucKhoeReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}" class="img208x130">
                    </a>

                    <div class="news-info">
                      <h3><a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                             title="{{newsItems.title}}" class="title">{{newsItems.title}}</a></h3>


                      <p class="sapo">
                        {{newsItems.content.slice(newsItems.content.search('">') + 2)}}
                      </p>

                    </div>

                  </ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
        <div class="box-cate-home mg_t15 clearfix">
          <div class="box-cate-container">
            <div class="box-cate-title">
              <h2><a routerLink="/giao-duc" title="GIÁO DỤC" class="title">GIÁO DỤC</a></h2>
              <ul class="sub-cate">

                <li>
                  <a routerLink="/giao-duc" title="Du học">Du học</a>
                </li>

                <li>
                  <a routerLink="/giao-duc" title="Sau bục giảng">Sau bục giảng</a>
                </li>


              </ul>
            </div>
            <div class="clearfix"></div>

            <div class="box-cate-detail">

              <div class="news-left">

                <div class="news-main ">
                  <ng-container *ngFor="let newsItems of giaoDucReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                       title="{{newsItems.title}}"
                       data-newstype="0" class="img256x160">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}"
                        class="img256x160">
                    </a>
                    <h3 class="">
                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"

                         title="{{newsItems.title}}"
                         class="title">
                        {{newsItems.title}}
                      </a>
                    </h3>
                    <p class="sapo"> {{newsItems.content.slice(newsItems.content.search('">') + 2)}}</p>
                  </ng-container>
                </div>

                <ul class="sub-news">
                  <ng-container *ngFor="let newsItems of giaoDucReuslt.slice(1,5); let i =index">
                    <li class="clearfix" *ngIf="i>0">

                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                         title="{{newsItems.title}}" class="img114x71">

                        <img src="{{newsItems.thumbnail }}"
                             alt="{{newsItems.title}}"
                             class="img114x71">
                      </a>

                      <h3 class=""><a
                        routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                        title="{{newsItems.title}}"
                        class="title">{{newsItems.title}}</a></h3>
                    </li>
                  </ng-container>
                </ul>

              </div>

              <div class="news-right">
                <div class="box-sub-cate">
                  <a routerLink="/giao-duc" title="Dư luận" class="title-cate">TUYỂN SINH</a>


                  <ng-container *ngFor="let newsItems of giaoDucReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}" class="img208x130">
                    </a>

                    <div class="news-info">
                      <h3><a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                             title="{{newsItems.title}}" class="title">{{newsItems.title}}</a></h3>


                      <p class="sapo">
                        {{newsItems.content.slice(newsItems.content.search('">') + 2)}}
                      </p>

                    </div>

                  </ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
        <div class="box-cate-home mg_t15 clearfix">
          <div class="box-cate-container">
            <div class="box-cate-title">
              <h2><a routerLink="/phap-luat" title="PHÁP LUẬT" class="title">PHÁP LUẬT</a></h2>
              <ul class="sub-cate">

                <li>
                  <a routerLink="/phap-luat" title="Hỏi đáp">Hỏi đáp</a>
                </li>

                <li>
                  <a routerLink="/phap-luat" title="Truy nã">Truy nã</a>
                </li>

                <li>
                  <a routerLink="/phap-luat"title="Chuyện pháp đình">Chuyện pháp đình</a>
                </li>


              </ul>
            </div>
            <div class="clearfix"></div>

            <div class="box-cate-detail">

              <div class="news-left">

                <div class="news-main ">
                  <ng-container *ngFor="let newsItems of phapLuatReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                       title="{{newsItems.title}}"
                       data-newstype="0" class="img256x160">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}"
                        class="img256x160">
                    </a>
                    <h3 class="">
                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"

                         title="{{newsItems.title}}"
                         class="title">
                        {{newsItems.title}}
                      </a>
                    </h3>
                    <p class="sapo"> {{newsItems.content.slice(newsItems.content.search('">') + 2)}}</p>
                  </ng-container>
                </div>

                <ul class="sub-news">
                  <ng-container *ngFor="let newsItems of phapLuatReuslt.slice(1,5); let i =index">
                    <li class="clearfix" *ngIf="i>0">

                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                         title="{{newsItems.title}}" class="img114x71">

                        <img src="{{newsItems.thumbnail}}"
                             alt="{{newsItems.title}}"
                             class="img114x71">
                      </a>

                      <h3 class=""><a
                        routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                        title="{{newsItems.title}}"
                        class="title">{{newsItems.title}}</a></h3>
                    </li>
                  </ng-container>
                </ul>

              </div>

              <div class="news-right">
                <div class="box-sub-cate">
                  <a routerLink="/phap-luat" title="Dư luận" class="title-cate">KỲ ÁN</a>


                  <ng-container *ngFor="let newsItems of phapLuatReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}" class="img208x130">
                    </a>

                    <div class="news-info">
                      <h3><a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                             title="{{newsItems.title}}" class="title">{{newsItems.title}}</a></h3>


                      <p class="sapo">
                        {{newsItems.content.slice(newsItems.content.search('">') + 2)}}
                      </p>

                    </div>

                  </ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
        <div class="box-cate-home mg_t15 clearfix">
          <div class="box-cate-container">
            <div class="box-cate-title">
              <h2><a routerLink="/giai-tri" title="GIẢI TRÍ" class="title">GIẢI TRÍ</a></h2>
              <ul class="sub-cate">

                <li>
                  <a routerLink="/giai-tri" title="Hậu trường showbiz">Hậu trường showbiz</a>
                </li>

                <li>
                  <a routerLink="/giai-tri" title="Mỗi tuần một nhân vật">Mỗi tuần một nhân vật</a>
                </li>

              </ul>
            </div>
            <div class="clearfix"></div>

            <div class="box-cate-detail">

              <div class="news-left">

                <div class="news-main ">
                  <ng-container *ngFor="let newsItems of giaiTriReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                       title="{{newsItems.title}}"
                       data-newstype="0" class="img256x160">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}"
                        class="img256x160">
                    </a>
                    <h3 class="">
                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"

                         title="{{newsItems.title}}"
                         class="title">
                        {{newsItems.title}}
                      </a>
                    </h3>
                    <p class="sapo"> {{newsItems.content.slice(newsItems.content.search('">') + 2)}}</p>
                  </ng-container>
                </div>

                <ul class="sub-news">
                  <ng-container *ngFor="let newsItems of giaiTriReuslt.slice(1,5); let i =index">
                    <li class="clearfix" *ngIf="i>0">

                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                         title="{{newsItems.title}}" class="img114x71">

                        <img src="{{newsItems.thumbnail }}"
                             alt="{{newsItems.title}}"
                             class="img114x71">
                      </a>

                      <h3 class=""><a
                        routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                        title="{{newsItems.title}}"
                        class="title">{{newsItems.title}}</a></h3>
                    </li>
                  </ng-container>
                </ul>

              </div>

              <div class="news-right">
                <div class="box-sub-cate">
                  <a routerLink="/giai-tri" title="GIẢI TRÍ" class="title-cate">GIẢI TRÍ</a>


                  <ng-container *ngFor="let newsItems of giaiTriReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}" class="img208x130">
                    </a>

                    <div class="news-info">
                      <h3><a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                             title="{{newsItems.title}}" class="title">{{newsItems.title}}</a></h3>


                      <p class="sapo">
                        {{newsItems.content.slice(newsItems.content.search('">') + 2)}}
                      </p>

                    </div>

                  </ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
        <div class="box-cate-home mg_t15 clearfix">
          <div class="box-cate-container">
            <div class="box-cate-title">
              <h2><a routerLink="/cong-nghe" title="CÔNG NGHỆ" class="title">CÔNG NGHỆ</a></h2>
              <ul class="sub-cate">

                <li>
                  <a routerLink="/cong-nghe"  title="Thiết bị số">Thiết bị số</a>
                </li>

                <li>
                  <a routerLink="/cong-nghe"  title="Bảo mật">Bảo mật</a>
                </li>


              </ul>
            </div>
            <div class="clearfix"></div>

            <div class="box-cate-detail">

              <div class="news-left">

                <div class="news-main ">
                  <ng-container *ngFor="let newsItems of congNgheReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                       title="{{newsItems.title}}"
                       data-newstype="0" class="img256x160">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}"
                        class="img256x160">
                    </a>
                    <h3 class="">
                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"

                         title="{{newsItems.title}}"
                         class="title">
                        {{newsItems.title}}
                      </a>
                    </h3>
                    <p class="sapo"> {{newsItems.content.slice(newsItems.content.search('">') + 2)}}</p>
                  </ng-container>
                </div>

                <ul class="sub-news">
                  <ng-container *ngFor="let newsItems of congNgheReuslt.slice(1,5); let i =index">
                    <li class="clearfix" *ngIf="i>0">

                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                         title="{{newsItems.title}}" class="img114x71">

                        <img src="{{newsItems.thumbnail }}"
                             alt="{{newsItems.title}}"
                             class="img114x71">
                      </a>

                      <h3 class=""><a
                        routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                        title="{{newsItems.title}}"
                        class="title">{{newsItems.title}}</a></h3>
                    </li>
                  </ng-container>
                </ul>

              </div>

              <div class="news-right">
                <div class="box-sub-cate">
                  <a routerLink="/cong-nghe" title="Dư luận" class="title-cate">CƯ DÂN MẠNG</a>


                  <ng-container *ngFor="let newsItems of congNgheReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}">

                      <img
                        src="{{newsItems.thumbnail}}"
                        alt="{{newsItems.title}}" class="img208x130">
                    </a>

                    <div class="news-info">
                      <h3><a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                             title="{{newsItems.title}}" class="title">{{newsItems.title}}</a></h3>


                      <p class="sapo">
                        {{newsItems.content.slice(newsItems.content.search('">') + 2)}}
                      </p>

                    </div>

                  </ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
        <div class="box-cate-home mg_t15 clearfix">
          <div class="box-cate-container">
            <div class="box-cate-title">
              <h2><a routerLink="/du-lich-xanh"  title="DU LỊCH XANH" class="title">DU LỊCH XANH</a></h2>
              <ul class="sub-cate">

                <li>
                  <a routerLink="/du-lich-xanh"  title="Tiêu điểm">Tiêu điểm</a>
                </li>

                <li>
                  <a routerLink="/du-lich-xanh"  title="Điểm đến">Điểm đến</a>
                </li>

                <li>
                  <a routerLink="/du-lich-xanh"  title="Đừng bỏ lỡ">Đừng bỏ lỡ</a>
                </li>


              </ul>
            </div>
            <div class="clearfix"></div>

            <div class="box-cate-detail">

              <div class="news-left">

                <div class="news-main ">
                  <ng-container *ngFor="let newsItems of duLichXanhReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                       title="{{newsItems.title}}"
                       data-newstype="0" class="img256x160">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}"
                        class="img256x160">
                    </a>
                    <h3 class="">
                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"

                         title="{{newsItems.title}}"
                         class="title">
                        {{newsItems.title}}
                      </a>
                    </h3>
                    <p class="sapo"> {{newsItems.content.slice(newsItems.content.search('">') + 2)}}</p>
                  </ng-container>
                </div>

                <ul class="sub-news">
                  <ng-container *ngFor="let newsItems of duLichXanhReuslt.slice(1,5); let i =index">
                    <li class="clearfix" *ngIf="i>0">

                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                         title="{{newsItems.title}}" class="img114x71">

                        <img src="{{newsItems.thumbnail }}"
                             alt="{{newsItems.title}}"
                             class="img114x71">
                      </a>

                      <h3 class=""><a
                        routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                        title="{{newsItems.title}}"
                        class="title">{{newsItems.title}}</a></h3>
                    </li>
                  </ng-container>
                </ul>

              </div>

              <div class="news-right">
                <div class="box-sub-cate">
                  <a routerLink="/du-lich-xanh" title="Dư luận" class="title-cate">ẨM THỰC</a>


                  <ng-container *ngFor="let newsItems of duLichXanhReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}" class="img208x130">
                    </a>

                    <div class="news-info">
                      <h3><a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                             title="{{newsItems.title}}" class="title">{{newsItems.title}}</a></h3>


                      <p class="sapo">
                        {{newsItems.content.slice(newsItems.content.search('">') + 2)}}
                      </p>

                    </div>

                  </ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
        <div class="box-cate-home mg_t15 clearfix">
          <div class="box-cate-container">
            <div class="box-cate-title">
              <h2><a routerLink="/thi-truong" title="THỊ TRƯỜNG" class="title">THỊ TRƯỜNG</a></h2>
              <ul class="sub-cate">

                <li>
                  <a routerLink="/thi-truong"  title="Tiêu điểm">Tiêu điểm</a>
                </li>

                <li>
                  <a routerLink="/thi-truong"  title="Điểm đến">Điểm đến</a>
                </li>

                <li>
                  <a routerLink="/thi-truong" title="Đừng bỏ lỡ">Đừng bỏ lỡ</a>
                </li>


              </ul>
            </div>
            <div class="clearfix"></div>

            <div class="box-cate-detail">

              <div class="news-left">

                <div class="news-main ">
                  <ng-container *ngFor="let newsItems of thiTruongReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                       title="{{newsItems.title}}"
                       data-newstype="0" class="img256x160">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}"
                        class="img256x160">
                    </a>
                    <h3 class="">
                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"

                         title="{{newsItems.title}}"
                         class="title">
                        {{newsItems.title}}
                      </a>
                    </h3>
                    <p class="sapo"> {{newsItems.content.slice(newsItems.content.search('">') + 2)}}</p>
                  </ng-container>
                </div>

                <ul class="sub-news">
                  <ng-container *ngFor="let newsItems of thiTruongReuslt.slice(1,5); let i =index">
                    <li class="clearfix" *ngIf="i>0">

                      <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                         title="{{newsItems.title}}" class="img114x71">

                        <img src="{{newsItems.thumbnail }}"
                             alt="{{newsItems.title}}"
                             class="img114x71">
                      </a>

                      <h3 class=""><a
                        routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                        title="{{newsItems.title}}"
                        class="title">{{newsItems.title}}</a></h3>
                    </li>
                  </ng-container>
                </ul>

              </div>

              <div class="news-right">
                <div class="box-sub-cate">
                  <a routerLink="/thi-truong"  title="Dư luận" class="title-cate">TIN TỨC</a>


                  <ng-container *ngFor="let newsItems of thiTruongReuslt.slice(0,1); let i =index">
                    <a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}">

                      <img
                        src="{{newsItems.thumbnail }}"
                        alt="{{newsItems.title}}" class="img208x130">
                    </a>

                    <div class="news-info">
                      <h3><a routerLink="/detail/{{replaceAll(newsItems.link,'/','?')}}"
                             title="{{newsItems.title}}" class="title">{{newsItems.title}}</a></h3>


                      <p class="sapo">
                        {{newsItems.content.slice(newsItems.content.search('">') + 2)}}
                      </p>

                    </div>

                  </ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</section>

