<div id="content--register">
  <div class="content__login-left">
    <h3 class="title__right">Đăng ký tài khoản</h3>
    <input type="text" class="input__content-register" placeholder="Email / Số điện thoại">
    <input type="password" class="input__content-register" placeholder="Mật khẩu">
    <input type="password" class="input__content-register" placeholder="Xác nhận mật khẩu">
    <button class="btn__register">Đăng ký</button>
    <pre class="text__register--accept">Bấm đăng kí bạn đã đồng ý với    <a href="">điều khoản sử dụng</a></pre>
  </div>
  <div class="content__login-right">
    <img src="https://ids4nld1.cnnd.vn/images/nld/account-page-image.png" alt="" class="img__register">
  </div>
</div>
