
  .cate-right {
    float: right;
    background: #e7e9ec;
    margin-left: 50px;
  }
.broadcast.box-tv {
  background-color: #f6f6f6;
}
.broadcast {
  padding: 19px 20px;
  border: 1px solid rgba(116,152,189,.35);
  border-radius: 5px;
  background: #fff;
  margin-bottom: 20px;
  h2 {
    .title {
      color: #000;
      font: normal 17px/normal Roboto-Bold;
      line-height: 1;
      text-transform: uppercase;
      &:before {
        content: '';
        background-image: url(https://static.mediacdn.vn/nld/web_images/spritesV8.png);
        display: block;
        background-repeat: no-repeat;
        background-position: -314px -41px;
        width: 19px;
        height: 19px;
        float: left;
        margin-right: 11px;
      }
    }
  }
  .news-list {
    .main-news {
      margin-top: 19px;
      width: 259px;
      h3 {
        margin-top: 10px;
        .title {
          color: #000;
          font-size: 15px;
          font-weight: bold;
          line-height: 1.31;
        }
      }
    }
    ul.sub-news {
      margin-top: 18px;
      li {
        list-style-type: none;
        float: left;
        width: 120px;
        .title {
          color: #000;
          font-size: 12px;
          font-weight: bold;
          line-height: 1.38;
          display: block;
          margin-top: 9px;
        }
        &:last-child {
          margin-left: 18px;
        }
      }
    }
  }
}
.img259x146 {
  width: 259px;
  height: 146px;
}
.img120x68 {
  width: 120px;
  height: 68px;
}
